@model FOReserva.Models.Itinerario.Cvista_Itinerario



<script language="JavaScript" type="text/javascript" src="/Scripts/llamadasItinerario.js"></script>

   @{
       IEnumerable<SelectListItem> listOrigen = Model._lciudad;

   }


    @using (Html.BeginForm("buscarDestino", "gestion_planificacion_vacaciones", null, FormMethod.Post, new { @id = "formbuscarDestino", @class = "form-horizontal" }))
    {


        <!-- FLIP BOX -->
        <div class="box-light box-icon box-icon-center box-icon-round box-icon-large text-center nomargin">
            <div class="front">
                <div class="box1 noradius">
                    <div class="box-icon-title">
                        <i class="ico-rounded ico-hover et-calendar"></i>
                        <h2> PLANIFICA TUS VACACIONES </h2>
                    </div>
                </div>
            </div>

        </div>
        <!-- /FLIP BOX -->

        <div class="box-light">
            <!-- .box-light OR .box-dark -->

            <div class="box-inner">
 
               
                @Html.DropDownListFor(m => m._ciudad, new SelectList(Model._lciudad as System.Collections.IEnumerable, "Value", "Text"),
                "Selecciona tu Destino:", new { @class = "form-control", @id = "ciudadO", @style = "width: 100%;", @required = "true" })
                <label>
                
                </label>
                @Html.DropDownListFor(m => m._fecha, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
             "Elige el dia a planear:", new { @class = "form-control", @id = "fecha", @style = "width: 100%;", @required = "true" ,@onchange = "Cuadro()"})

                <div>

                </div>
                <div class="timeline">
                    <!-- .timeline-inverse = right position [left on RTL] -->
                    <!-- ITEM -->
                    <!-- /ITEM -->
                    <!-- ITEM -->


                    <div class="timeline-item timeline-item-bordered">
                        <div class="timeline-entry rounded">
                            <span class="size-14" style="text-transform: none"> Dia: </span>
                            <span class="size=13">
                            </span>
                            <div class="timeline-vline">
                            </div>
                        </div>
                        <h2 class="uppercase"></h2>
                        <div class="fancy-form">
                          
                            @Html.TextAreaFor(m => m._actividad, new { @class = "form-control word count", @placeholder = "Escribe aqui...",rows =10, colums=20 , @id = "actividad" })
                          
                            <span class="fancy-hint size-11 text-muted">
                                <span class="pull-right">
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="text-right">
                        <form id="form1" name="form1">
                            <button id="consultarItinerario" type="button" name="este" class="btn btn-primary">Consultar</button>
                            <button id="modificarItinerario" type="button" name="este" class="btn btn-primary">Modificar</button>
                            <button id="eliminarItinerario" type="button" name="este1" class="btn btn-primary">Eliminar</button>
                            <button id="aceptarItinerario" type="button" name="este2" class="btn btn-primary">Guardar</button>
                        </form>
                    </div>





                    
                    <!-- /ITEM -->
                    <!-- ITEM -->
                    <!-- /ITEM -->
                    <!-- ITEM -->
                    <!-- /ITEM -->
                    <div>
                        <div class="divider"><!-- divider --></div>

                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">Descargar</button>
                    </div>

                    
    </div>

    
                </div>

        </div>


    <!-- LEFT -->
        <div class="col-lg-3 col-md-3 col-sm-4 col-lg-pull-9 col-md-pull-9 col-sm-pull-8">



            <!-- completed -->
            <div class="margin-bottom-30 text-center">
                <!-- aqui van los botones de destino -->



            </div>
            <!-- /completed -->



        </div>
   
        <script type="text/javascript" src="@Url.Content("~/Content/assets/js/view/demo.shop.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/uniqueId.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/assets/plugins/datatable/js/jquery.dataTables.min.js")"></script>

    }
