<!-- Indico que para esta vista, M05_VisualizarBoleto, utilizare el modelo Models/gestion_boletos/CVisualizarBoleto-->
@model BOReserva.Models.gestion_boletos.CVisualizarBoleto

@using (Html.BeginForm("verBoleto", "gestion_boletos", null, FormMethod.Post, new { @id = "verBoleto", @class = "form-horizontal" }))
{

    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h1 class="box-title">Detalle Vuelo</h1>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="margin-top:10px;">



                            <div class="col-xs-6">
                                <label>Origen:</label>
                                @Html.TextBoxFor(m => m._origen, null, new { @class = "form-control", @placeholder = "", @id = "origen", @disabled = "disabled", @readonly = "readonly" })
                            </div>

                            <div class="col-xs-6">
                                <label>Destino:</label>
                                @Html.TextBoxFor(m => m._destino, null, new { @class = "form-control", @placeholder = "", @id = "destino", @disabled = "disabled", @readonly = "readonly" })
                            </div>

                        </div>

                        <div>&nbsp;</div>

                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-md-6">
                                <label>Fecha salida(IDA):</label>
                                @Html.TextBoxFor(m => m._fechaDespegueIda, null, new { @class = "form-control", @placeholder = "", @id = "fechaDespegueIda", @disabled = "disabled", @readonly = "readonly" })
                            </div>

                            <div class="col-md-6">
                                <label>Fecha llegada(IDA):</label>
                                @Html.TextBoxFor(m => m._fechaAterrizajeIda, null, new { @class = "form-control", @placeholder = "", @id = "fechaAterrizajeIda", @disabled = "disabled", @readonly = "readonly" })
                            </div>

                        </div>


                        <div>&nbsp;</div>

                        <div class="col-md-12" style="margin-top:10px;">



                            <div class="col-xs-6">
                                <label>Monto:</label>
                                @Html.TextBoxFor(m => m._monto, null, new { @class = "form-control", @placeholder = "", @id = "monto", @disabled = "disabled", @readonly = "readonly" })
                            </div>

                            <div class="col-xs-6">
                                <label>Tipo boleto:</label>
                                @Html.TextBoxFor(m => m._tipoBoleto, null, new { @class = "form-control", @placeholder = "", @id = "tipo", @disabled = "disabled", @readonly = "readonly" })
                            </div>

                        </div>

                        <div>&nbsp;</div>

                        <div class="col-md-12" style="margin-top:0px;">
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m._idOrigen, null, new { @class = "form-control", @placeholder = "", @id = "id_origen", @disabled = "disabled", @readonly = "readonly", style = "display: none;" })
                            </div>

                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m._idDestino, null, new { @class = "form-control", @placeholder = "", @id = "id_destino", @disabled = "disabled", @readonly = "readonly", style = "display: none;" })
                            </div>

                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m._idVuelo, null, new { @class = "form-control", @placeholder = "", @id = "id_vuelo", @disabled = "disabled", @readonly = "readonly", style = "display: none;" })
                            </div>

                        </div>

                        <div class="col-md-12" style="margin-top:10px;">
                            <button type="button" id="siguiente" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Siguiente</button>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="row">
                        <div id="loading" class="col-lg-12" style=" display: none; text-align:center; margin-top: 15px;"><span class="fa fa-spinner refresh-animate "></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#siguiente").click(function (e) {
            e.preventDefault();
            $("#loading").show();
            var id_origen = document.getElementById("id_origen").value;
            // alert("Id origen: " + id_origen);
            var id_destino = document.getElementById("id_destino").value;
            // alert("Id destino: " + id_destino);
            var fecha_despegue = document.getElementById("fechaDespegueIda").value;
            //alert("Ida y/o vuelta: " + ida_vuelta);
            var fecha_aterrizaje = document.getElementById("fechaAterrizajeIda").value;
            //alert("Tipo: " + tipo);
            var monto = document.getElementById("monto").value;
            //alert("Fecha ida: " + fecha_ida);
            var tipo = document.getElementById("tipo").value;
            //alert("Fecha ida: " + fecha_ida);
            var id_vuelo = document.getElementById("id_vuelo").value;
            //alert("Fecha ida: " + fecha_ida);




            var url = '/gestion_boletos/M05_DatosUsuario';
            var method = 'GET';
            var data = { idorigen: id_origen, iddestino: id_destino, fechadespegue: fecha_despegue, fechaaterrizaje: fecha_aterrizaje, monto: monto, tipo: tipo, idvuelo: id_vuelo };

            $.ajax(
                {
                    url: url,
                    type: method,
                    data: data,
                    success: function (data, textStatus, jqXHR) {

                        $("#contenido").empty();
                        $("#contenido").append(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
        });
    </script>
}
