<div class="row">
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Boletos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>N° Boleto</th>
                            <th>Fecha</th>
                            <th>Pasajero</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            foreach (var item in Model)
                            {
                                String nombre = @item._pasajero._primer_nombre + " " + @item._pasajero._primer_apellido;

                                <tr id="@item._id">
                                    <td>@item._id</td>
                                    <td>@item._fechaBoleto.ToString()</td>
                                    <td>@nombre</td>
                                    <td>@item._origen.Name</td>
                                    <td>@item._destino.Name</td>
                                    <td>
                                        <a href="#" title="Consultar"> <i class="fa fa-eye consultar"></i></a>
                                        <a href="#" title="Modificar"><i class="fa fa-pencil modificar"></i></a>
                                        <a href="#" title="Eliminar"><i class="fa fa-times eliminar"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        catch
                        {

                        }
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "pagingType": "simple_numbers",
            "language": {
                "lengthMenu": "N° _MENU_ registros por página.",
                "zeroRecords": "No se encontró registro.",
                "info": "  Mostrando registros _START_ - _END_  (_TOTAL_ registros totales).",
                "infoEmpty": "0 de 0 de 0 registros",
                "infoFiltered": "(Encontrado de _MAX_registros)",
                "search": "Buscar: ",
                "processing": "Procesando la información",
                "paginate": {
                    "first": " |< ",
                    "previous": "Anterior",
                    "next": "Siguiente",
                    "last": " >| "
                }
            }
        });
    });
</script>

<script>

    $("#m05_VisualizarBoleto").click(function (e) {
        e.preventDefault();
        var url = '/gestion_boletos/M05_VisualizarBoleto';
        var method = 'GET';
        var data = '';

        $.ajax(
            {
                url: url,
                type: method,
                data: data,
                success: function (data, textStatus, jqXHR) {

                    $("#contenido").empty();
                    $("#contenido").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

    });

</script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //e.preventDefault();
        $(".consultar").click(function () {
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "GET",
                url: "/gestion_boletos/M05_VisualizarBoleto",
                data: { id : identificador }
            }).done(function (data) {
                $("#contenido").empty();
                $("#contenido").append(data);
            }).fail(function () {
                alert("Ocurrió un error")
            });


        });
    });

    $(document).ready(function () {
        //e.preventDefault();
        $(".eliminar").click(function () {
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "POST",
                url: "/gestion_boletos/eliminarBoleto",
                data: { id: identificador }
            }).done(function (data) {

                alert("Se eliminó exitosamente el boleto")
                var url1 = '/gestion_boletos/M05_VisualizarBoletos';
                var method = 'GET';
                var data1 = '';

                $.ajax(
                    {
                        url: url1,
                        type: method,
                        data: data,
                        success: function (data, textStatus, jqXHR) {

                            $("#contenido").empty();
                            $("#contenido").append(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
            }).fail(function () {
                alert("No se pudo eliminar")
            });
        });
    });
</script>



<script src="../../Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../Content/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../../Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../Content/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../Content/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->






