@model BOReserva.Models.gestion_boletos.CModificarBoleto

@using (Html.BeginForm("modificarBoleto", "gestion_boletos", null, FormMethod.Post, new { @id = "formModificarBoleto", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h1 class="box-title"> Modificar Boleto</h1>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <!-------------------- INICIO SECCIÓN DATOS DEL PASAJERO ------------------------------>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box collapsed-box">
                                <div class="box-header with-border">
                                    <h1 class="box-title"> Datos Usuario</h1>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div style="display: none;" class="box-body">
                                    <div class="row">

                                        <div class="col-md-12" style="margin-top:10px;">
                                            <div class="col-md-6">
                                                <label>Pasaporte:</label>
                                                @Html.TextBoxFor(m => m.bol._pasajero._id, null, new { @class = "form-control", @placeholder = "", @id = "boleto_fechaDespegueVuelta", @disabled = "disabled", @readonly = "readonly" })
                                            </div>

                                            <div class="col-md-6">
                                                <label>Fecha Nacimiento:</label>
                                                @Html.TextBoxFor(m => m.bol._pasajero._fecha_nac, "{0:dd/MM/yyy}", new { @class = "form-control", @disabled = "disabled", @readonly = "readonly"})
                                            </div>
                                        </div>

                                        <div>&nbsp;</div>

                                        <div class="col-md-12" style="margin-top:10px;">

                                            <div class="col-xs-6">
                                                <label>Primer Nombre:</label>
                                                @Html.TextBoxFor(m => m.bol._pasajero._primer_nombre, null, new { @class = "form-control", @placeholder = "", @id = "boleto_origen"})
                                            </div>

                                            <div class="col-xs-6">
                                                <label>Segundo Nombre:</label>
                                                @Html.TextBoxFor(m => m.bol._pasajero._segundo_nombre, null, new { @class = "form-control", @placeholder = "", @id = "boleto_destino" })
                                            </div>

                                        </div>

                                        <div>&nbsp;</div>

                                        <div class="col-md-12" style="margin-top:10px;">
                                            <div class="col-md-6">
                                                <label>Primer Apellido:</label>
                                                @Html.TextBoxFor(m => m.bol._pasajero._primer_apellido, null, new { @class = "form-control", @placeholder = "", @id = "boleto_fechaDespegueIda"})
                                            </div>

                                            <div class="col-md-6">
                                                <label>Segundo Apellido:</label>
                                                @Html.TextBoxFor(m => m.bol._pasajero._segundo_apellido, null, new { @class = "form-control", @placeholder = "", @id = "boleto_fechaAterrizajeIda" })
                                            </div>

                                        </div>

                                        <div>&nbsp;</div>

                                        <div class="col-md-12" style="margin-top:10px;">

                                            <div class="col-md-6">
                                                <label>Sexo:</label>
                                                @Html.TextBoxFor(m => m.bol._pasajero._sexo, null, new { @class = "form-control", @placeholder = ""})
                                            </div>

                                            <div class="col-md-6">
                                                <label>Correo:</label>
                                                @Html.TextBoxFor(m => m.bol._pasajero._correo, null, new { @class = "form-control", @placeholder = ""})
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



