@{

    Layout = "~/Views/gestion_usuarios/_Layout.cshtml";
}

@model BOReserva.Models.gestion_usuarios.AgregarUsuario
@using (Html.BeginForm())
{
@Html.ValidationSummary() 

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <h2 class="box-title">Agregar Usuario</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <br>
                            <div class="col-md-12">
                                <div class="col-xs-12">
                                    <label for="_correo">Inserte el Correo Electronico del usuario:</label>
                                    @Html.TextBoxFor(c => c._correo, null, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "abc@reserva.com",
                                       @id = "correoUsuario",
                                       required = "required",
                                       type = "email"
                                   })
                                </div>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <div class="col-xs-6">
                                    <label for="nombreUsuario">Inserte el Nombre del Usuario:</label>
                                    @Html.TextBoxFor(c => c._nombre, null,
                                    new 
                                    {
                                        @class = "form-control", 
                                        @placeholder = "Pedro Perez", 
                                        @id = "nombreUsuario", 
                                        required = "required",
                                        maxlength="50", 
                                        oninput="setCustomValidity('')", 
                                        oninvalid = "setCustomValidity('Campo obligatorio, solo se aceptan letras')",
                                        pattern = "^[a-zA-ZñÑáéíóúÁÉÍÓÚ]*$"
                                    })
                                </div>
                                <div class="col-xs-6">
                                    <label for="apellidoUsuario">Inserte el Apellido del Usuario:</label>
                                    @Html.TextBoxFor(c => c._apellido, null, new
                               {
                                   @class = "form-control",
                                   @placeholder = "Perez",
                                   @id = "nombreUsuario",
                                   required = "required",
                                   maxlength = "50",
                                   oninput = "setCustomValidity('')",
                                   oninvalid = "setCustomValidity('Campo obligatorio, solo se aceptan letras')",
                                   pattern = "^[a-zA-ZñÑáéíóúÁÉÍÓÚ]*$"
                               })
                                </div>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <div class="col-xs-6">
                                    <label for="_correo">Inserte la contraseña del usuario:</label>
                                    @Html.TextBoxFor(c => c._contraseña, null, new { @class = "form-control", @placeholder = "12345pepito", @id = "contraseñaUsuario", required = "required",
                                                                                     oninvalid = "setCustomValidity('Campo obligatorio, solo se admiten letras y números')",
                                                                                     type = "password",
                                                                                     oninput = "setCustomValidity('')",
                                                                                     pattern = "</?[a-z][a-z0-9]*[^<>]*>$"
                               })
                                </div>
                                <div class="col-xs-6">
                                    <label for="nombreUsuario">Confirmar contraseña del usuario:</label>
                                    @Html.TextBoxFor(c => c._confirmarContraseña, null, new { @class = "form-control", @placeholder = "12345pepito", @id = "confContraseña", required = "required",
                                                                                              oninvalid = "setCustomValidity('Campo obligatorio, debe ingresar nuevamente la contraseña')",
                                                                                              type = "password",
                                                                                              oninput = "setCustomValidity('')",
                                                                                              pattern = "</?[a-z][a-z0-9]*[^<>]*>$"
                                    })
                                </div>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <div class="col-xs-6">
                                    <label for="_rol">Seleccione el rol del usuario:</label>
                                    @Html.DropDownListFor(c => c._rol, new[] { new SelectListItem() { Text = "Administrador", Value = "1"}, new SelectListItem()
                                        { Text = "Cargador", Value = "2" } }, "Seleccione una opcion", new { @class = "form-control" })
                               
                                </div> 
                                <div class="col-xs-6">
                                    <label for="_activo">Estado del usuario:</label>
                                    @Html.DropDownListFor(c => c._activo, new[] { new SelectListItem() { Text = "Activo", Value = "activo"}, new SelectListItem()
                                        { Text = "Inactivo", Value = "inactivo" } }, "Seleccione una opcion", new { @class = "form-control" })
                                </div>
                            </div>   
                            <div class="col-md-12" style="margin-top:10px;">
                               <!--  <input type="button" value="Create" class="btn btn-success" onclick=" return confirm('¿Seguro que desea crear este usuario?');" /> --> 
                                <button type="submit" class="btn btn-success" value="Registrar" id="agregarUsuario"> Registrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
}

