@model  FOReserva.Models.ReservaBoleto.CBuscarVuelo

<div class="heading-title" style="margin-bottom: 21px;">
    <h3><span>Vuelos</span></h3>
</div>

@using (Html.BeginForm("buscar_vuelos", "gestion_reserva_boleto", null, FormMethod.Post, new { @id = "formBuscarVuelo", @class = "form-horizontal" }))
{
  <fieldset>
        <input type="hidden" name="action" value="contact_send" />
        <div class="row">
            <div class="form-group">
                <div class="col-md-6 col-sm-6">
                    <div>
                        <label class="radio">
                            <input type="radio" name="radio-btn" onclick="opcionIdaVuelta(this)" value="ida">
                            <i></i> Ida
                        </label>
                        <label class="radio">
                            <input type="radio" name="radio-btn" onclick="opcionIdaVuelta(this)" value="idavuelta" checked="checked">
                            <i></i> Ida y Vuelta
                        </label>
                    </div>
                    <label>Origen</label>
                    @Html.DropDownListFor(m => m.SelectedCiudadIdOrigen, Model.CiudadesOrigen, new { @class = "form-control select2", @id = "vuelta" })
                </div>
                <div class="col-md-6 col-sm-6" style=" margin-top: 46px;">
                    <label>Destino</label>
                    @Html.DropDownListFor(m => m.SelectedCiudadIdDestino, Model.CiudadesDestino, new { @class = "form-control select2", @id = "vuelta" })
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group">
                <div class="col-md-6 col-sm-6">
                    <label>Fecha ida</label>
                    @Html.TextBoxFor(m => m._ida, null, new { @type = "date", @class = "form-control pull-right", @id = "ida" })
                </div>
                <div class="col-md-6 col-sm-6" id="contenedorIdaVuelta">
                    <label>Fecha vuelta</label>
                    @Html.TextBoxFor(m => m._vuelta, null, new { @type = "date", @class = "form-control pull-right", @id = "vuelta" })
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-6 col-sm-6">
                    <label>Adultos</label>
                    @Html.TextBoxFor(m => m._adultos, new { type = "number", @class = "form-control stepper", min = "0", step = "1" })
                </div>
                <div class="col-md-6 col-sm-6">
                    <label>Niños</label>
                    @Html.TextBoxFor(m => m._ninos, new { type = "number", @class = "form-control stepper", min = "0", step = "1" })
                </div>
            </div>
        </div>

    </fieldset>

    <div class="row text-center">
        <div class="col-md-12">
            <button type="button" id="buscarVuelos" class="btn btn-primary" >Buscar</button>
        </div>
    </div>

    <script src="~/Scripts/ReservaBoleto/BusquedaBoleto.js"></script>
    <script>

    $("#contenedorIdaVuelta").css("display", "block");

    function opcionIdaVuelta(seleccion) {

        if (seleccion.value == "ida")
        {
            $("#contenedorIdaVuelta").css("display", "none");
        }
        else if (seleccion.value == "idavuelta") 
        {
            $("#contenedorIdaVuelta").css("display", "block");
        }
    }

</script>
       
}

@*</form>*@