@{
    FOReserva.DataAccess.Domain.Usuario usuario_actual = new FOReserva.DataAccess.Domain.Usuario(1);
    List<FOReserva.DataAccess.Domain.Revision> revisiones = Model;
}

@if (revisiones != null)
{
    if (revisiones.Count > 0)
    {
        <div class="row">
            <div class="panel panel-default col-sm-12">
                <div class="panel-heading">
                    <h2 class="panel-title">Listado de Revisiones</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover" id="tablas-revisiones">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th width="100%">Mensaje</th>
                                <th>Puntuacion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var revision in revisiones)
                            {
                                <tr id="@revision.Id" value="@revision.Id">
                                    <td class="rev_fecha" value="@revision.Fecha">@revision.Fecha</td>
                                    <td class="rev_mensaje" value="@revision.Mensaje">@revision.Mensaje</td>
                                    <td class="rev_puntuacion center" value="@revision.Estrellas">
                                        <span class="rateyo" data-estrellas="@revision.Estrellas.ToString().Replace(",",".")" data-only="true"></span>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="#" id="icon_edit" data-action="@Url.Action("_EditarReserva", "gestion_reserva_restaurante", new { id = revision.Id })" class="update list-icon" value="@revision.Id" style=" margin-right 10px;"><i class="fa fa fa-pencil-square"></i></a>
                                        <a href="#" title="Eliminar revision"><i class="fa fa-times-circle eliminar"></i></a>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    }
    else
    {
        <p>De momento no posee revisiones.</p>
        <a>Reintetar</a>
    }
}
else
{
    <div class="row center">
        <p>Hubo un problema cargando las revisiones.</p>
    </div>
}