@{
    FOReserva.DataAccess.Domain.Usuario usuario_actual = new FOReserva.DataAccess.Domain.Usuario(Session["id_usuario"] == null ? 1 : (int)Session["id_usuario"]);
    List<FOReserva.DataAccess.Domain.Revision> revisiones = Model;
}

@if (revisiones != null)
{
    if (revisiones.Count > 0)
    {
        <div class="row">
            <div class="panel panel-default col-sm-12">
                <div class="panel-heading">
                    <h2 class="panel-title">Listado de Revisiones</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover" id="tablas-revisiones">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th width="100%">Mensaje</th>
                                <th>Puntuacion</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var revision in revisiones)
                            {
                                <tr data-id="@revision.Id" data-propietario="@revision.Propietario._id" data-tipo="@((int)revision.Tipo)" data-referencia="@revision.Referencia._id">
                                    <td class="rev_fecha" value="@revision.Fecha">@revision.Fecha</td>
                                    <td class="rev_mensaje" value="@revision.Mensaje">@revision.Mensaje</td>
                                    <td class="rev_puntuacion center" value="@revision.Estrellas">
                                        <span class="rateyo" data-estrellas="@revision.Estrellas.ToString().Replace(",",".")" data-only="true"></span>
                                        @*<span class="pull-right btn btn-success">@revision.Positivos</span>
                                        <span class="pull-right btn btn-danger">@revision.Negativos</span>*@
                                    </td>
                                    <td style="text-align: center;">
                                        @if (usuario_actual.Id == revision.Propietario._id)
                                        {
                                            <button type="button" onclick="btnEditarRevision(this)" style="margin-right 10px;"><i class="fa fa fa-pencil-square" style="font-size: 22pt;"></i></button>
                                            <button type="button" onclick="btnBorrarRevision(this)"><i class="fa fa-times-circle eliminar" style="font-size: 22pt;"></i></button>
                                        }                                        
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    }
    else
    {
        <p>De momento no posee revisiones.</p>
        <a>Reintetar</a>
    }
}
else
{
    <div class="row center">
        <p>Hubo un problema cargando las revisiones.</p>
    </div>
}