@{
    List<FOReserva.DataAccess.Domain.Revision> revisiones = Model;
}

@if (revisiones != null)
{    
    <!-- FORMULARIO PARA CREAR UNA REVISION-->
    using (Html.BeginForm("detalle_revision_form", "gestion_revision", FormMethod.Post))
    {
        <div class="form-group">
            <label>Mensaje: </label>
            <input type="text" name="rev_mensaje" id="rev_mensaje" value="" class="form-control" data-format="" data-lang="en" data-rtl="false" placeholder="Ingrese su mensaje" required>
        </div>

        <div id="rev_mensaje_empty" style="display: none;" class="has-error error">
            <p><i class="fa fa-times-circle" aria-hidden="true"></i> Debe llenar este campo</p>
        </div>
                  <!-- PUNTUACION  Y  VALIDACIONES-->
        <div class="form-group">
            <label>Puntuacion:</label>
            <select name="rev_puntuacion" id="rev_puntuacion" class="form-control" required>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
                    <!-- BOTON QUE ACCIONA EL SUBMIT -->
        <div class="text-center">
            <input id="rev_agregar" value="Regresar" class="btn btn-primary boton" />
        </div>
    }


    if (revisiones.Count > 0)
    {
        <div class="row">
            <div class="panel panel-default col-sm-12">
                <div class="panel-heading">
                    <h2 class="panel-title">Listado de Revisiones</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover" id="tablas-revisiones">
                        <thead>
                            <tr>                                
                                <th>Fecha</th>
                                <th>Mensaje</th>
                                <th>Tipo</th>
                                <th>Puntuacion</th>
                                <th>Acciones</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var revision in revisiones)
                            {
                                <tr id="@revision.Id" value="@revision.Id">                                    
                                    <td class="rev_fecha" value="@revision.Fecha">@revision.Fecha</td>
                                    <td class="rev_mensaje" value="@revision.Mensaje">@revision.Mensaje</td>
                                    <td class="rev_tipo" value="@revision.Tipo">@revision.Tipo</td>
                                    <td class="rev_puntuacion" value="@revision.Estrellas">@revision.Estrellas</td>
                                    <td style="text-align: center;">
                                        <a href="#" id="icon_edit" data-action="@Url.Action("_EditarReserva", "gestion_reserva_restaurante", new { id = revision.Id })" class="update list-icon" value="@revision.Id" style=" margin-right 10px;"><i class="fa fa fa-pencil-square"></i></a>
                                        <a href="#" title="Eliminar revision"><i class="fa fa-times-circle eliminar"></i></a>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    }
    else
    {
        <p>De momento no posee revisiones.</p>
        <a>Reintetar</a>
    }
}
else
{
    <div class="center">
        <p>Hubo un problema cargando las revisiones.</p>
        <a>Reintetar</a>
    </div>
}