@model BOReserva.DataAccess.Domain.BoletoDetalle

@using (Html.BeginForm("verDatosBoleto", "gestion_check_in", null, FormMethod.Post, new { @id = "formverDatosBoleto", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h1 class="box-title"> Detalle del Boleto</h1>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-12" style="margin-top:10px;">

                        <div class="col-md-6">
                            @Html.HiddenFor(m => m._bol_id)
                        </div>

                    </div>

                    <!-------------------- INICIO SECCIÓN DATOS DEL PASAJERO ------------------------------>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box collapsed-box">
                                <div class="box-header with-border">
                                    <h1 class="box-title"> Datos del Pasajero</h1>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div style="display: none;" class="box-body">
                                    <div class="row">

                                        <div class="col-md-12" style="margin-top:10px;">
                                            <div class="col-md-6">
                                                <label>Pasaporte:</label>
                                                @Html.TextBoxFor(m => m._id, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>

                                            <div class="col-md-6">
                                                <label>Fecha Nacimiento:</label>
                                                @Html.TextBoxFor(m => m._fecha_nac, "{0:dd/MM/yyy}", new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div>&nbsp;</div>

                                        <div class="col-md-12" style="margin-top:10px;">

                                            <div class="col-xs-6">
                                                <label>Primer Nombre:</label>
                                                @Html.TextBoxFor(m => m._primer_nombre, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>

                                            <div class="col-xs-6">
                                                <label>Segundo Nombre:</label>
                                                @Html.TextBoxFor(m => m._segundo_nombre, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>

                                        </div>

                                        <div>&nbsp;</div>

                                        <div class="col-md-12" style="margin-top:10px;">
                                            <div class="col-md-6">
                                                <label>Primer Apellido:</label>
                                                @Html.TextBoxFor(m => m._primer_apellido, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>

                                            <div class="col-md-6">
                                                <label>Segundo Apellido:</label>
                                                @Html.TextBoxFor(m => m._segundo_apellido, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>

                                        </div>

                                        <div>&nbsp;</div>

                                        <div class="col-md-12" style="margin-top:10px;">

                                            <div class="col-md-6">
                                                <label>Sexo:</label>
                                                @Html.TextBoxFor(m => m._sexo, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>

                                            <div class="col-md-6">
                                                <label>Correo:</label>
                                                @Html.TextBoxFor(m => m._correo, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-------------------- INICIO SECCIÓN DATOS DEL VUELO ------------------------------>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box collapsed-box">
                                <div class="box-header with-border">
                                    <h1 class="box-title"> Datos Vuelo</h1>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div style="display: none;" class="box-body">
                                    <div class="row">

                                        <div class="col-md-12" style="margin-top:10px;">

                                            <div class="col-md-6">
                                                <label>Origen:</label>
                                                @Html.TextBoxFor(m => m._origen, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>

                                            <div class="col-md-6">
                                                <label>Destino:</label>
                                                @Html.TextBoxFor(m => m._destino, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div>&nbsp;</div>

                                        <div class="col-md-12" style="margin-top:10px;">
                                            <div class="col-md-6">
                                                <label>Fecha salida (IDA):</label>
                                                @Html.TextBoxFor(m => m._fechaDespegueIda, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>


                                            <div class="col-md-6">
                                                <label>Fecha llegada (IDA):</label>
                                                @Html.TextBoxFor(m => m._fechaAterrizajeIda, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>

                                        </div>

                                        <div>&nbsp;</div>

                                        <div class="col-md-12" style="margin-top:10px;">
                                            <div class="col-md-6">
                                                <label>Fecha salida (VUELTA):</label>
                                                @Html.TextBoxFor(m => m._fechaDespegueVuelta, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>

                                            <div class="col-md-6">
                                                <label>Fecha Llegada (VUELTA):</label>
                                                @Html.TextBoxFor(m => m._fechaAterrizajeVuelta, null, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                                            </div>
                                        </div>

                                        <div>&nbsp;</div>

                                        <div class="col-md-12" style="margin-top:10px;">

                                            <div class="col-md-6">
                                                <label>Seleccione el Pase de Abordaje a generar:</label>
                                                @Html.DropDownListFor(m => m._tipoBoardingPass, Model._tipos, new { @class = "form-control", @placeholder = "Tipo", @id = "tipo" })
                                                <label id="tipo_empty" class="control-label has-error none">
                                                    <i class="fa fa-times-circle-o"></i> Este campo es requerido
                                                </label>
                                            </div>

                                        </div>
                                        <div>&nbsp;</div>
                                        <div class="col-md-12" style="margin-top:10px;">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-2">
                                                <button type="button" id="modificar_tipo_boleto" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Generar</button>
                                            </div>
                                            <div class="col-md-2">
                                                <button id="cancel_tipo" type="button" class="btn btn-danger" style="display:block; margin-left:auto; margin-right:auto;">Cancelar</button>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<script>
    function loader() {
        $("#loader").fadeIn("slow");
        $(window).ajaxComplete(function () {
            // Se oculta el loader animado
            $("#loader").hide();
        });
    }

    $("#modificar_tipo_boleto").click(function (e) {
        var tipo = document.getElementById("tipo").value;
        var carnum = /^[0-9]+$/;
        $(".none").hide();
        $(".form-control").removeClass("has-error");

        //Validaciones para el pasaporte no nulo o con letras
        if (tipo == "Seleccione") {
            $("#tipo").addClass("has-error");
            $("#tipo_empty").fadeIn();

        }
        else {
            e.preventDefault();
            loader();
            var form = $("#formverDatosBoleto");
            $.ajax({
                url: "gestion_check_in/generarBoardingPass",
                data: form.serialize(),
                type: 'POST',
                success: function (data) {
                    //alert("Espere para visualizar el boleto");
                    $("#contenido").empty();
                    $("#contenido").append(data);
                }
                , error: function (xhr, textStatus, exceptionThrown) {
                    //muestro el texto del error
                    alert(xhr.responseText);
                }
            });
        }
    });

    $("#cancel_tipo").click(function (e) {
        e.preventDefault();
        loader();
        var url = '/gestion_check_in/M05_CheckIn';
        var method = 'GET';
        var data = '';

        $.ajax(
            {
                url: url,
                type: method,
                data: data,
                success: function (data, textStatus, jqXHR) {

                    $("#contenido").empty();
                    $("#contenido").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    });
</script>
