@model BOReserva.Models.gestion_cruceros.CGestion_crucero
<script src="~/Scripts/Scripts_Cruceros/scripts_cruceros.js"></script>
@using (Html.BeginForm("consultarCrucero", "gestion_cruceros", null, FormMethod.Post, new { @id = "formConsultarCrucero", @class = "form-horizontal" }))
{
    <div class="box">
        <div class="box-body">
            <div class="box-header with-border">
                <h1 class="box-title"> Información de Crucero</h1>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"></button>
                </div>
            </div>
            <div class="modal-body col-xs-12" id="bodyCruc" style="margin-left:24% ; height:300px">
                <section id="primeraParte">
                    <div class="form-group" style="margin-bottom:20px">
                        <label>Crucero: </label>
                        @Html.LabelFor(m => m._nombreCrucero, new { @id="nombreCrucero" })
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Compañia: </label>
                                @Html.LabelFor(m => m._companiaCrucero, new { @id = "compania" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Capacidad: </label>
                                @Html.LabelFor(m => m._capacidadCrucero, new { @id = "capacidad" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Imagen: </label>
                                @Html.LabelFor(m => m._imagen, new { @id = "imagen" })
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6" style="margin-top:10px;">
                        <button type="button" id="guardar_cabina" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
                    </div>*@
                </section>
            </div>
            @*<div class="modal-body col-xs-12" id="bodyCruc" style="margin-left: 14.5%">
                <table>
                    <thead>
                        <tr class="crucero crTitles" id="listaCruceros">
                            <th style="width:170px;height: 40px;text-align: center">Nombre</th>
                            <th style="width:170px;height: 40px;text-align: center"> <b>Precio</b></th>
                            <th style="width:170px;height: 40px;text-align: center"><b>Estado</b></th>
                            <th style="width:170px;height: 40px;text-align: center"><b>Acciones</b> </th>
                        </tr>
                    </thead>
                    <tbody id="tablaCabinas" class="">
                        @{
                                foreach (var cabina in Model.cabinas)
                                {
                                    <tr id="@cabina._idCabina ">
                                        <td class="crNombre">@cabina._nombreCabina</td>
                                        <td class="crCompania">@cabina._precioCabina</td>
                                        @if (@cabina._estatus == "activo")
                                        {
                                            <td class="crStatus"><i class="fa fa-circle started"></i></td>
                                            <td class="crAcciones"><i class="fa fa-eye"></i> <i class="fa fa-pencil"></i> <i class="fa fa-times"></i> <i class="fa fa-trash eliminar_crucero"></i></td>
                                        }
                                        else {
                                            <td class="crStatus"><i class="fa fa-circle paused"></i></td>
                                            <td class="crAcciones"><i class="fa fa-eye"></i> <i class="fa fa-pencil"></i> <i class="fa fa-check"></i> <i class="fa fa-trash"></i></td>
                                        }
                                    </tr>

                                }
                            }
                    </tbody>
                </table>
            </div>*@
        </div>

    </div>
}

