@model BOReserva.Models.gestion_cruceros.VistaListaCrucero
<div class="box">
    <div class="box-body">
        <div class="box-header with-border">
            <h1 class="box-title"> Listado de Cruceros</h1>
            <div class="row">
                <div class="col-xs-12">
                    <table>
                        <thead>
                            <tr class="crucero crTitles" id="listaCruceros">
                                <th class="crNombre">Nombre</th>
                                <th class="crCompania"> <b>Compa&ntilde;&iacute;a</b></th>
                                <th class="crCapacidad"><b>Capacidad</b></th>
                                <th class="crStatus"><b>Estado</b></th>
                                <th class="crAcciones"><b>Acciones</b> </th>
                            </tr>
                        </thead>
                        <tbody class="listCru crucero">
                            @{
                                foreach (var crucero in Model.cruceros)
                                {
                                    <tr id="@crucero._idCrucero">
                                        <td class="crNombre">@crucero._nombreCrucero </td>
                                        <td class="crCompania">@crucero._companiaCrucero </td>
                                        <td class="crCapacidad">@crucero._capacidadCrucero <i class="fa fa-user"></i></td>
                                        @if (@crucero._estatus == "activo")
                                        {
                                            <td class="crStatus"><i class="fa fa-circle started"></i></td>
                                            <td class="crAcciones"><i class="fa fa-pencil modificoCrucero"></i> <i class="fa fa-times cambioCrucero"></i></td>
                                        }
                                        else {
                                            <td class="crStatus"><i class="fa fa-circle paused"></i></td>
                                            <td class="crAcciones"><i class="fa fa-pencil modificoCrucero"></i> <i class="fa fa-check cambioCrucero"></i></td>
                                        }
                                    </tr>

                                }
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        @*<div class="col-xs-2">
                <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#createCruiser">
                    <span><i class="fa fa-ship" style="font-size:20px"></i></span>
                    <br> Crear crucero
                </button>
            </div>*@
    </div>
</div>

<script>
        $(".eliminar_crucero").click(function (e) {
            e.preventDefault();
            var crucero_id = $(this).closest('tr').attr('id');
            console.log(crucero_id);
            $.ajax({
                url: "gestion_cruceros/eliminarCrucero",
                data: {"id_crucero": crucero_id },
                type: 'POST',
                success: function (data) {
                    $.ajax({
                        url: '/gestion_cruceros/M24_ListarCruceros',
                        type: 'GET',
                        data: '',
                        success: function (data, textStatus, jqXHR) {
                            $("#contenido").empty();
                            $("#contenido").append(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
</script>

<script>
    $(".cambioCrucero").click(function (e) {
            e.preventDefault();
            var crucero_id = $(this).closest('tr').attr('id');
            console.log(crucero_id);
            $.ajax({
                url: "gestion_cruceros/cambiarEstatusCrucero",
                data: {"id_crucero": crucero_id },
                type: 'POST',
                success: function (data) {
                    $.ajax({
                        url: '/gestion_cruceros/M24_ListarCruceros',
                        type: 'GET',
                        data: '',
                        success: function (data, textStatus, jqXHR) {
                            $("#contenido").empty();
                            $("#contenido").append(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
</script>


<script>
    $(".modificoCrucero").click(function (e) {
        e.preventDefault();
        var crucero_id = $(this).closest('tr').attr('id');
        var url = "/gestion_cruceros/M24_ModificarCrucero/" + crucero_id;
        var method = 'GET';
        var data = ''
        $.ajax(
            {
                url: url,
                type: method,
                data: data,
                success: function (data, textStatus, jqXHR) {
                    $("#contenido").empty();
                    $("#contenido").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    });
</script>

