@model List<BOReserva.Models.gestion_roles.CRoles>

<div class="row">
    <link rel="stylesheet" href="~/Content/plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Roles</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="VisualizarRol" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Modulo</th>

                            <th>Acceso a</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            foreach (var item in Model)
                            {
                                <tr id="@item.Nombre_rol">
                                    <td>@item.Nombre_rol</td>
                                    <!---<td>  falta el arroba           item.Menu.obtenerUnObjetoDeLaLista(0)</td>-->
                                    <td>
                                        <table>
                                            @foreach (var item2 in item.Menu)
                                            {
                                                <tr>@item2.Nombre    </tr>
                                                <br>}
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            @foreach (var item2 in item.Permisos)
                                            {
                                                <tr>@item2.Nombre 
                                            <!--<a href="#" id="@item2.Nombre" title="Eliminar Permiso" class="eliminarpermiso"><i class="fa fa-times eliminarpermiso"></i></a>--></tr>
                                                <br>}
                                        </table>
                                    </td>
                                    <td>
                                        @if (@item.Nombre_rol != "Administrador" && @item.Nombre_rol != "Cargador" && @item.Nombre_rol != "Operador" && @item.Nombre_rol != "Cliente" && @item.Nombre_rol != "Anonimo")
                                        {
                                        <a href="#"  title="Eliminar Rol"><i class="fa fa-times eliminar"></i></a>
                                        }

                                    </td>
                                </tr>
                            }
                        }
                        catch
                        {

                        }

                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Modulo</th>

                            <th>Acceso a</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->




<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script language="javascript" type="text/javascript">
   
    table = $('#VisualizarRol').DataTable();
    




    $(".eliminar").click(function () {
        var r = confirm("Esta función no podrá ser revertida, ¿Está seguro de que desea continuar?")
        if (r) {
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "POST",
                url: "/gestion_roles/eliminarRol",
                data: { _nombrerol: identificador }
            }).done(function (data) {
                var url = '/gestion_roles/M13_VisualizarRol';
                var method = 'GET';
                var data = '';
                $.ajax(
                    {
                        url: url,
                        type: method,
                        data: data,
                        success: function (data, textStatus, jqXHR) {

                            $("#contenido").empty();
                            $("#contenido").append(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
            }).fail(function (data) {
                alert(data);
            });
    
        } });


    $(".eliminarpermiso").click(function () {
        var r = confirm("Esta función no podrá ser revertida, ¿Está seguro de que desea continuar?")
        if (r) {
            var nombreRol = $(this).parent().parent().parent().attr("id");
            var nombrePermiso = $(this).parent().attr("id");
            jQuery.ajax({
                type: "POST",
                url: "/gestion_roles/quitarPermisoRol",
                data: { _nombrerol: nombreRol, _nombrepermiso: nombrePermiso }
            }).done(function (data) {
                var url = '/gestion_roles/M13_VisualizarRol';
                var method = 'GET';
                var data = '';
                $.ajax(
                    {
                        url: url,
                        type: method,
                        data: data,
                        success: function (data, textStatus, jqXHR) {

                            $("#contenido").empty();
                            $("#contenido").append(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
            }).fail(function (data) {
                alert(data);
            });
        }});
</script>

<style>
.eliminarpermiso{float:right;}

</style>
