@model BOReserva.Models.gestion_ruta_comercial.CAgregarRuta

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    List<SelectListItem> listTipo = new List<SelectListItem>();
    List<SelectListItem> listEstado = new List<SelectListItem>();


    listItems.Add(new SelectListItem
      {
          Text = "Caracas - Venezuela",
          Value = "Caracas - Venezuela"
      });
    listItems.Add(new SelectListItem
     {
         Text = "Ciudad de Panamá -  Panamá",
         Value = "Ciudad de Panamá - Panamá",
     });
    listItems.Add(new SelectListItem
     {
         Text = "Madrid - España",
         Value = "Madrid - España"
     });


    listTipo.Add(new SelectListItem
      {
          Text = "Aérea",
          Value = "aerea"
      });
    listTipo.Add(new SelectListItem
     {
         Text = "Marítima",
         Value = "maritima",

     });

    listEstado.Add(new SelectListItem
    {
        Text = "Activa",
        Value = "activa"
    });
    listEstado.Add(new SelectListItem
     {
         Text = "Inactiva",
         Value = "inactiva",

     });

}

@using (Html.BeginForm("guardarRuta", "gestion_ruta_comercial", null, FormMethod.Post, new { @id = "formGuardarRuta", @class = "form-horizontal" }))
{

    <label>Elegir Tipo de la Ruta (*)</label>
    @Html.DropDownListFor(m => m._tipoRuta, listTipo, new { @class = "form-control", @placeholder = "Aérea", @id = "rutaTipo" })
    <br />
    <label>Elegir Estado de la Ruta (*)</label>
    @Html.DropDownListFor(m => m._estadoRuta, listEstado, new { @class = "form-control", @placeholder = "Aérea", @id = "rutaTipo" })
    <br />
    <label>Elegir Origen de la Ruta (*)</label>
    @Html.DropDownListFor(m => m._origenRuta, listItems, new { @class = "form-control", @placeholder = "Ejem.: Caracas - Venezuela", @id = "rutaOrigen" })
    <br />
    <label>Elegir Destino de la Ruta (*)</label>
    @Html.DropDownListFor(m => m._destinoRuta, listItems, new { @class = "form-control", @placeholder = "Ejem.: Caracas - Venezuela", @id = "rutaDestino" })
    <br />
    <label>Agregar distancia de la Ruta (*)</label>
    @Html.TextBoxFor(m => m._distanciaRuta, null, new { @class = "form-control", @placeholder = "1200 KM", @id = "rutaDistancia" })
    <br />
    <center><button id="enviar" class="btn btn-success">Guardar</button></center>




    <script>
        $("#enviar").click(function (e) {
            e.preventDefault();
            var form = $("#formGuardarRuta");
            var origen = $('#rutaOrigen').find(":selected").text();
            var destino = $('#rutaDestino').find(":selected").text();
            alert("Ruta origen: " + origen + " Ruta Destino: " + destino);
            $.ajax({
                url: "gestion_ruta_comercial/guardarRuta",
                data: form.serialize(),
                type: 'POST',
                success: function (data) {
                    alert("Ruta guardada exitosamente");
                    $('#formGuardarRuta')[0].reset();
                }
            });
        });
    </script>
}
