
<label>Estado de la ruta:</label>
@Html.Label("rutaEstado", "Activa", new { @id = "rutaEstado" });
<br />
<label>Tipo de la ruta:</label>
@Html.Label("rutaTipo", "Aérea", new { @id = "rutaTipo" });
<br />
<label>Origen de la ruta:</label>
@Html.Label("rutaOrigen", "Caracas - Venezuela", new { @id = "rutaOrigen" });
<br />
<label>Destino de la ruta:</label>
@Html.Label("rutaDestino", "Activa", new { @id = "rutaDestino" });
<br />
<label>Distancia de la ruta:</label>
@Html.Label("rutaDistancia", "Activa", new { @id = "rutaDistancia" });

