@model BOReserva.Models.gestion_ruta_comercial.CAgregarRuta

<script src="~/Scripts\Scripts_Rutas\llamadas_generales_ruta.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="box">

            <div class="box-body">
                <h2 class="box-title"> Detalle de Ruta</h2>
                <div class="row">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m._idRuta, null, new { @class = "form-control", @type = "hidden" })
                        <label>Elegir Tipo de la Ruta:</label>
                        @Html.TextBoxFor(m => m._tipoRuta, Model._tipoRuta, new { @class = "form-control", @id = "rutaTipo", @min = 1, @required = "true", @disabled = "disabled" })
                        <br />
                        <label>Estado de la Ruta:</label>
                        @Html.TextBoxFor(m => m._estadoRuta, Model._estadoRuta, new { @class = "form-control", @placeholder = "Aérea", @id = "rutaEstado", @required = "true", @disabled = "disabled" })
                        <br />
                        <label>Origen de la Ruta:</label>
                        @Html.TextBoxFor(m => m._origenRuta, Model._origenRuta, new { @class = "form-control", @id = "rutaOrigen", @min = 1, @required = "true", @disabled = "disabled" })
                        <br />
                        <label>Destino de la Ruta:</label>
                        @Html.TextBoxFor(m => m._destinoRuta, Model._destinoRuta, new { @class = "form-control", @id = "rutaDestino", @min = 1, @required = "true", @disabled = "disabled" })
                        <br />
                        <label>distancia de la Ruta (KM):</label>
                        @Html.TextBoxFor(m => m._distanciaRuta, null, new { @class = "form-control", @id = "rutaDistancia", @min = 1, @required = "true", @disabled = "disabled" })
                        <br />
                        <div class="row" style="margin-top:10px;">
                            <div class="col-md-2 col-md-offset-4">
                                <button type="button" id="VisualizarRutasComerciales" class="btn btn-danger" style="display:block; margin-left:auto; margin-right:auto;">Volver</button>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
