<div class="row">
    <div class="col-md-12">
        <div class="box">

            <div class="box-body">
                <h2 class="box-title"> Detalle de Ruta</h2>
                <div class="row">
                    <div class="col-md-12">
                        <label>Estado de la ruta:</label>
                        @Html.TextBox("rutaEstado", "Activa", new { @id = "rutaEstado" });
                        <br />
                        <label>Tipo de la ruta:</label>
                        @Html.TextBox("rutaTipo", "Aérea", new { @id = "rutaTipo" });
                        <br />
                        <label>Origen de la ruta:</label>
                        @Html.TextBox("rutaOrigen", "Caracas - Venezuela", new { @id = "rutaOrigen" });
                        <br />
                        <label>Destino de la ruta:</label>
                        @Html.TextBox("rutaDestino", "Activa", new { @id = "rutaDestino" });
                        <br />
                        <label>Distancia de la ruta:</label>
                        @Html.TextBox("rutaDistancia", "Activa", new { @id = "rutaDistancia" });
                        <div class="col-md-12" style="margin-top:10px;">
                            <button type="button" id="enviar" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
