
﻿@model BOReserva.Models.gestion_ruta_comercial.CAgregarRuta

<script src="~/Scripts\Scripts_Rutas\llamadas_generales_ruta.js"></script>

@{
    List<SelectListItem> listTipo = new List<SelectListItem>();
    List<SelectListItem> listEstado = new List<SelectListItem>();
    IEnumerable<SelectListItem> listOrigen = Model._lorigenRuta;
    

    listTipo.Add(new SelectListItem
    {
        Text = "Aérea",
        Value = "aerea"
    });
    listTipo.Add(new SelectListItem
    {
        Text = "Marítima",
        Value = "maritima",

    });

    listEstado.Add(new SelectListItem
    {
        Text = "Activa",
        Value = "activa"
    });
    listEstado.Add(new SelectListItem
    {
        Text = "Inactiva",
        Value = "inactiva",

    });

}

@using (Html.BeginForm("guardarRuta", "gestion_ruta_comercial", null, FormMethod.Post, new { @id = "formGuardarRuta", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <h2 class="box-title"> Modificar Ruta</h2>
                    <div class="row">
                        <div class="col-md-12">                            
                            @Html.TextBoxFor(m => m._idRuta, null, new { @class = "form-control", @type = "hidden"})
                            <label>Elegir Tipo de la Ruta:</label>
                            @Html.TextBoxFor(m => m._tipoRuta, Model._tipoRuta, new { @class = "form-control", @id = "rutaTipo", @min = 1, @required = "true", @disabled = "disabled" })
                            <br />
                            <label>Elegir Estado de la Ruta:</label>
                            @Html.DropDownListFor(m => m._estadoRuta, listEstado, new { @class = "form-control", @placeholder = "Aérea", @id = "rutaEstado", @required = "true" })
                            <br />
                            <label>Elegir Origen de la Ruta:</label>
                            @Html.TextBoxFor(m => m._origenRuta, Model._origenRuta, new { @class = "form-control", @id = "rutaOrigen", @min = 1, @required = "true", @disabled = "disabled" })
                            <br />
                            <label>Elegir Destino de la Ruta:</label>
                            @Html.TextBoxFor(m => m._destinoRuta, Model._destinoRuta, new { @class = "form-control", @id = "rutaDestino", @min = 1, @required = "true", @disabled = "disabled" })
                            <br />
                            <label>Agregar distancia de la Ruta (KM):</label>
                            @Html.TextBoxFor(m => m._distanciaRuta, null, new { @class = "form-control", @placeholder = "1200 KM", @id = "rutaDistancia", @min = 1, @required = "true" })
                            <br />
                            <div class="row" style="margin-top:10px;">
                                <div class="col-md-2 col-md-offset-4">
                                    <button type="button" id="Modificar" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
                                </div>                                
                                <div class="col-md-2 ">
                                    <button type="button" id="VisualizarRutasComerciales" class="btn btn-danger" style="display:block; margin-left:auto; margin-right:auto;">Cancelar</button>
                                </div>
                                
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->



    /*<script>
        $("#enviar").click(function (e) {
            e.preventDefault();
            var form = $("#formGuardarRuta");
            var origen = $('#rutaOrigen').get;
            var destino = $('#rutaDestino').val;
            alert("Ruta origen: " + origen + " Ruta Destino: " + destino);
            $.ajax({
                url: "gestion_ruta_comercial/guradarRuta",
                data: form.serialize(),
                type: 'POST',
                success: function (data) {
                    alert("Ruta guardada exitosamente");
                    $('#formGuardarRuta')[0].reset();
                }
            });
        });
    </script>*/
}
