@model  List<BOReserva.Models.gestion_ruta_comercial.CRuta>

<script src="~/Scripts\Scripts_Rutas\llamadas_generales_ruta.js"></script>

<div class="row">
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Rutas</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Distancia</th>
                            <th>Status</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                                                @try
                                                {
                                                    foreach (BOReserva.Models.gestion_ruta_comercial.CRuta item in Model)
                                                    {
                                                        //String disponibilidad;
                                                        //if (item._disponibilidad == 1) { disponibilidad = "Disponible"; } else { disponibilidad = "No disponible"; }

                                                        <tr>
                                                            <td>@item.tipoRuta</td>
                                                            <td>@item.origenRuta</td>
                                                            <td>@item.destinoRuta</td>
                                                            <td>@item.distanciaRuta KM</td>
                                                            <td>@item.estadoRuta</td>
                                                            <td>
                                                                <a href="#"> <i class="fa fa-eye clasedeprueba"></i></a>
                                                                <a href="#"><i class="fa fa-pencil m03EditarRutas"></i></a>
                                                            </td>
                                                            </tr>
                                                    }
                                                }
                                                catch
                                                {
                                                    
                                                }
<tfoot>
                        <tr>
                            <th>Tipo</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Distancia</th>
                            <th>Status</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->


@*<table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Distancia</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Aérea</td>
                <td>
                    Caracas - Venezuela
                </td>
                <td>
                    Ciudad de Panamá - Panamá
                </td>
                <td>
                    1395 KM
                </td>
                <td>
                    <a href="#"><i class="fa fa-check"></i></a>
                    <a href="#"><i class="fa fa-times"></i></a>
                    <a href="#"><i class="fa fa-eye" id="m03DetalleRutas"></i></a>
                    <a href="#"><i class="fa fa-gear" id="m03EditarRutas"></i></a>
                </td>
            </tr>
        <tfoot>
            <tr>
                <th>Tipo</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Distancia</th>
                <th>Opciones</th>
            </tr>
        </tfoot>


    </table>*@



@*<script>

    $("#VisualizarRutasComerciales").click(function (e) {
        e.preventDefault();
        var url = '/gestion_ruta_comercial/VisualizarRutasComerciales';
        var method = 'GET';
        var data = '';

        $.ajax(
            {
                url: url,
                type: method,
                data: data,
                success: function (data, textStatus, jqXHR) {

                    $("#contenido").empty();
                    $("#contenido").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

    });
    $(".m03EditarRutas").click(function (e) {
        e.preventDefault();
        alert("Botón Editar");
        $.ajax({
            url: '/gestion_ruta_comercial/ModificarRutasComerciales',
            data: '',
            type: 'GET',
            success: function (data) {
                $("#contenido").empty();
                $("#contenido").append(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });


    $("#m03DetalleRutas").click(function (e) {
        e.preventDefault();
        alert("Botón Editar");
        $.ajax({
            url: '/gestion_ruta_comercial/DetalleRutasComerciales',
            data: '',
            type: 'GET',
            success: function (data) {
                $("#contenido").empty();
                $("#contenido").append(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

</script>*@


