@model BOReserva.Models.gestion_hoteles.CHotel
<script src="~/Scripts/Scripts_Hoteles/llamadas_generales_hoteles.js"></script>
@using (Html.BeginForm("guardarHotel", "gestion_hoteles", null, FormMethod.Post, new { @id = "formCrearHotel", @class = "form-horizontal" }))
{
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><b>Registro de Hotel</b></h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="col-md-11">
                            <div class="form-group">
                                <label>Nombre</label>
                                @Html.TextBoxFor(m => m._nombre, null, new { @class = "form-control", @placeholder = "Introduzca Nombre", @id = "nombreHotel" })
                            </div>
                            <div class="form-group">
                                <label>Dirección</label>
                                @Html.TextBoxFor(m => m._direccion, null, new { @class = "form-control", @placeholder = "Introduzca Dirección", @id = "direccionHotel" })
                            </div>
                        </div>
                        <!--País y ciudad-->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <!-- select -->
                                    <label>País</label>
                                    @*@Html.DropDownListFor(m => m._pais, Model._listapaises, new { @class = "form-control", @id = "country" })*@
                                  <!--  <label for="">Pa&is(<span style="color:red">*</span>)</label>-->
                                    @*@Html.DropDownListFor(m => m._pais, BOReserva.Controllers.gestion_automovilesController.pais(), new { @class = "form-control", @placeholder = "Pais", @id = "vehi_pais", @onblur = "listadeciudades(this.value);"})*@
                                    @{
                                        List<SelectListItem> paises = BOReserva.Controllers.gestion_hotelesController.pais();
                                        if (paises.First().Text.Length > 15)
                                        {
                                            Response.Write("<script>alert('" + paises.First().Text + "');</script>");
                                            List<SelectListItem> error = new List<SelectListItem>();
                                            @Html.DropDownListFor(m => m._pais, error, new { @class = "form-control", @placeholder = "Pais", @id = "hot_pais", @onblur = "listadeciudades(this.value);" });
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m._pais, paises, new { @class = "form-control", @placeholder = "Pais", @id = "hot_pais", @onblur = "listadeciudades(this.value);" });
                                        }
                                    }

                                </div><!--div col-xs-->
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <!--<select id="state"></select>-->
                                        <select class="form-control" id="ciudades" name="ciudad" onblur="getciudad();"></select>
                                       
                                    </div>
                                </div>
                            </div> <!--/div row-->
                        </div> <!--/div box-body-->
                        <!--País y ciudad-->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label for="clasificacion">Clasificación</label>
                                        <div class="form-control">
                                            @Html.DropDownListFor(m => m._estrellas, new SelectList(new List<Object>{
                                                              new { value = 0 , text = "Sin Estrellas"  },
                                                              new { value = 1 , text = "1 Estrella" },
                                                              new { value = 2 , text = "2 Estrellas"},
                                                              new { value = 3 , text = "3 Estrellas"},
                                                              new { value = 4 , text = "4 Estrellas"},
                                                              new { value = 5 , text = "5 Estrellas"}},
                                                              "value", "text",
                                                              new { @class = "form-control", @placeholder = "Introduzca Clasificación", @id = "clasificacionHotel" }))
                                        </div>
                                    </div>
                                </div><!--div col-md-->
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="pagina">Página Web</label>
                                        @Html.TextBoxFor(m => m._paginaweb, null, new { @class = "form-control", @placeholder = "Introduzca página web", @id = "paginaHotel" })
                                    </div>
                                </div>
                            </div> <!--/div row-->
                        </div> <!--/div box-body-->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="pagina">Correo Electrónico</label>
                                        @Html.TextBoxFor(m => m._email, null, new { @class = "form-control", @placeholder = "Introduzca correo electrónico del hotel", @id = "correoHotel" })
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="pagina">Cantidad de Habitaciones</label>
                                        @Html.TextBoxFor(m => m._canthabitaciones, null, new { @class = "form-control", @placeholder = "Introduzca Cantidad de Habitaciones", @id = "habHotel" })
                                    </div>
                                </div>
                            </div> <!--/div row-->
                        </div> <!--/div box-body-->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="button" id="aceptarhotel" class="btn btn-success">Guardar</button>
                            <button type="button" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


    <script language="javascript" type="text/javascript">
       function listadeciudades(_stateId) {
           var procemessage = "<option value='0'> Espere un momento...</option>";
           $("#ciudades").html(procemessage).show();
           var url = "/gestion_hoteles/listaciudades";
           var _pais = $('#hot_pais option:selected').text();
           $.ajax({
               url: url,
               data: { pais: _pais },
               cache: false,
               type: "POST",
               success: function (data) {
                   markup = "";
                   for (var x = 0; x < data.length; x++) {
                       markup += "<option>" + data[x] + "</option>";
                   }
                   $("#ciudades").html(markup).show();
               },
               error: function (reponse) {
                   alert("error : " + reponse);
               }
           });
       }


    function getciudad() {
        var url = "/gestion_hoteles/getciudad";
        var ciudad = $('#ciudades option:selected').text();
        $.ajax({
            url: url,
            data: { _ciudad: ciudad },
            cache: false,
            type: "POST",
            success: function (data) {

            }
        });
    }
</script>