<!-- Indico que para esta vista, M08_ModificarAutomovil, utilizare el modelo Models/gestion_automoviles/CModificarAutomovil-->
@model BOReserva.Models.gestion_hoteles.CVerHotel

<!--Indico que, estoy abriendo un formulario que tendra como accion del submit, el controlador gestion_automoviles"Controller",
    utilizara el metodo guardarAutomovil
    le pasara la informacion mediante un POST-->
@using (Html.BeginForm("VerHotel", "gestion_hoteles", null, FormMethod.Post, new { @id = "formVerHotel", @class = "form-horizontal" }))
{
    <head>
        <meta charset="UTF-8">
    </head>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h1 class="box-title" style="font-size:32px;">Detalle Hotel</h1>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <label for="placa">Nombre</label>                             
                                @Html.TextBoxFor(m => m._nombre, null, new { @class = "form-control", @placeholder = "Gran Melia", @id = "hot_nombre", @maxlength = 30, @readonly = "readonly" })
                            </div>
                            <div class="col-xs-6">
                                <label for="modelo">Direccion</label>
                                @Html.TextBoxFor(m => m._direccion, null, new { @class = "form-control", @placeholder = "Av Colombia, Calle 4", @id = "hot_direccion", @maxlength = 120, @readonly = "readonly" })


                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <label for="modelo">Pagina web</label>
                                @Html.TextBoxFor(m => m._paginaWeb, null, new { @class = "form-control", @placeholder = "www.granmeliaccs.com", @id = "hot_web",  @maxlength = 20, @readonly = "readonly" })
                            </div>
                            <div class="col-xs-6">
                                <label for="anio">Correo electronico</label>                               
                                 @Html.TextBoxFor(m => m._email, null, new { @class = "form-control", @placeholder = "contacto@granmeliaccs.com", @id = "hot_email", @maxlength = 25, @readonly = "readonly" })
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <label for="transmision">Clasificacion</label>                      
                                @Html.TextBoxFor(m => m._clasificacion, null, new { @class = "form-control", @placeholder = "3 estrellas", @id = "hot_clasificacion", @readonly = "readonly" })

    
                            </div>
                            <div class="col-xs-6">
                                <label for="capacidad">Capacidad</label>                                
                                @Html.TextBoxFor(m => m._capacidadHabitacion, null, new { @class = "form-control", @placeholder = "28", @id = "hot_capacidad", min = "0", @readonly = "readonly" })

                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <label for="">Precio por habitacion($)</label>
                                @Html.TextBoxFor(m => m._precioHabitacion, null, new { @class = "form-control", @placeholder = "28", @id = "hot_pais", @readonly = "readonly" })
                            </div>
                            <div class="col-xs-6">
                                <label for="">Pais</label>
                                @Html.TextBoxFor(m => m._pais, null, new { @class = "form-control", @placeholder = "28", @id = "hot_pais", @readonly = "readonly" })
                            </div>

                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <label for="Ciudad">Ciudad</label>
                                @Html.TextBoxFor(m => m._ciudad, null, new { @class = "form-control", @placeholder = "28", @id = "hot_pais", @readonly = "readonly" })
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <button type="submit" id="return" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Regresar</button>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <script src="~/Scripts/Scripts_Hoteles/llamadas_comunes_hoteles.js"></script>

   


   

     <script language="javascript" type="text/javascript">
        function listadeciudades(_stateId) {
            var procemessage = "<option value='0'> Espere un momento...</option>";
            $("#ciudades").html(procemessage).show();
            var url = "/gestion_hoteles/listaciudades";
            var _pais = $('#hot_pais option:selected').text();
            $.ajax({
                url: url,
                data: { pais: _pais },
                cache: false,
                type: "POST",
                success: function (data) {
                    markup = "";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option>" + data[x] + "</option>";
                    }
                    $("#ciudades").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }



        function getciudad() {
            var url = "/gestion_hoteles/getCity";
            var ciudad = $('#ciudades option:selected').text();
            $.ajax({
                url: url,
                data: { _ciudad: ciudad },
                cache: false,
                type: "POST",
                success: function (data) {

                }
            });

        }

    </script>
     <script>
        $("#return").click(function (e) {
            e.preventDefault();
            var url = '/gestion_hoteles/M09_VisualizarHoteles';
            var method = 'GET';
            var data = '';
            alert("Se esta procesando tu solicitud, por favor espere");

            $.ajax(
                {
                    url: url,
                    type: method,
                    data: data,
                    success: function (data, textStatus, jqXHR) {

                        $("#contenido").empty();
                        $("#contenido").append(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
        });
    </script>

}
