
<div class="row">
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"><b>Lista de Hoteles</b></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>País</th>
                            <th>Ciudad</th>
                            <th>Estrellas</th>
                            <th>Página web</th>
                            <th>Email</th>
                            <th>Disponibilidad</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            foreach (var item in Model)
                            {
                                String disponibilidad;
                                if (item._disponibilidad == 1) { disponibilidad = "Disponible"; } else { disponibilidad = "No disponible"; }

                                <tr id="@item._id">
                                    <td>@item._nombre</td>
                                    <td>@item._direccion</td>
                                    <td>@item._pais</td>
                                    <td>@item._ciudad</td>
                                    <td>@item._estrellas</td>
                                    <td>@item._paginaweb</td>
                                    <td>@item._email</td>
                                    <td>@disponibilidad</td>
                                    <td>
                                        <a href="#"> <i class="fa fa-eye clasedeprueba"></i></a>
                                        <a href="#"><i class="fa fa-pencil modificar"></i></a>
                                        <a href="#"><i class="fa fa-times"></i></a> 
                                    </td>
                                </tr>
                            }
                        }
                        catch
                        {

                        }

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<script src="../../Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../Content/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../../Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../Content/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../Content/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->
@*
    <script language="javascript" type="text/javascript">


        $(".modificar").click(function () {
            console.log("hola");
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "GET",
                url: "/gestion_aviones/M02_ConsultarAvion",
                data: { id: identificador }
            }).done(function (data) {
                $("#contenido").empty();
                $("#contenido").append(data);
            }).fail(function () {

            });


        });


        $(".deshabilitar").click(function () {
            console.log("hola");
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "POST",
                url: "/gestion_aviones/deshabilitarAvion",
                data: { id: identificador }
            }).done(function (data) {
                var url = '/gestion_aviones/M02_VisualizarAviones';
                var method = 'GET';
                var data = '';
                $.ajax(
                    {
                        url: url,
                        type: method,
                        data: data,
                        success: function (data, textStatus, jqXHR) {

                            $("#contenido").empty();
                            $("#contenido").append(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
            }).fail(function () {
                alert("Error en la base de datos");
            });
        });

        $(".habilitar").click(function () {
            console.log("hola");
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "POST",
                url: "/gestion_aviones/habilitarAvion",
                data: { id: identificador }
            }).done(function (data) {
                var url = '/gestion_aviones/M02_VisualizarAviones';
                var method = 'GET';
                var data = '';
                $.ajax(
                    {
                        url: url,
                        type: method,
                        data: data,
                        success: function (data, textStatus, jqXHR) {

                            $("#contenido").empty();
                            $("#contenido").append(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
            }).fail(function () {
                alert("Error en la base de datos");
            });
        });


    </script>*@


