@model BOReserva.Models.gestion_restaurantes.CRestauranteModeloVista

<link href="@Url.Content("~/Scripts/select2/css/select2.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/select2/js/select2.min.js")"></script>

<script type="text/javascript">
$(document).ready(function() {
    $(".gestionver-seleccion-restaurante").select2();
});
</script>

<h1>Hola!</h1>

<select class="gestionver-seleccion-restaurante">
    @if(Model._listaRestaurantes != null)
    {
        foreach (var entrada in Model._listaRestaurantes)
        {
            <option value="@entrada._id">@entrada._nombre</option>
        }
    }
</select>

<div class="row">
    <link rel="stylesheet" href="~/Content/plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Restaurantes</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="m10-ver-restaurantes" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th hidden="hidden">ID</th>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Descripción</th>
                            <th>Hora Apertura</th>
                            <th>Hora Cierre</th>
                            <th>Ciudad</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            foreach (var item in Model._listaRestaurantes)
                            {
                                <tr id="@item._id">
                                    <td hidden="hidden">@item._id</td>
                                    <td>@item._nombre</td>
                                    <td>@item._direccion</td>
                                    <td>@item._descripcion</td>
                                    <td>@item._horarioApertura</td>
                                    <td>@item._horarioCierre</td>
                                    <td>@Model._listaCiudades.FirstOrDefault(x => x._id == @item._idLugar)._nombre</td> <!-- Demasiado astuto para mi propio bien -->
                                    <td>
                                        <a href="#" title="Modificar"><i class="fa fa-pencil modificar"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        catch
                        {

                        }

                    <tfoot>
                        <tr>
                            <th hidden="hidden">ID</th>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Descripción</th>
                            <th>Hora Apertura</th>
                            <th>Hora Cierre</th>
                            <th>Ciudad</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->