<<<<<<< HEAD
﻿<div class="row">
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Platos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Vuelo</th>
                            <th>Hora Salida</th>
                            <th>Hora Llegada</th>
                            <th>Descripcion</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            foreach (var item in Model)
                            {
                                String estatus;
                                if (item._estatusPlato == 1) { estatus = "Disponible"; } else { estatus = "No disponible"; }

                                <tr id="@item._nombrePlato">
                                    <td>@item._tipoPlato</td>
                                    <td>@estatus</td>
                                    <td>@item._descripcionPlato</td>
                                    <td>
                                        <a href="#" title="Consultar"> <i class="fa fa-eye consultar"></i></a>
                                        <a href="#" title="Modificar"><i class="fa fa-pencil modificar"></i></a>
                                        @if (item._estatusPlato == 1)
                                        {
                                            <a href="#" title="No Disponible"><i class="fa fa-times nodisponible"></i></a>
                                        }
                                        else
                                        {
                                            <a href="#" title="Disponible"><i class="fa fa-check dispobible"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        catch
                        {

                        }

                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Estatus</th>
                            <th>Descripcion</th>
                            <th>Opciones</th>>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
=======
﻿<div class="row">
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Platos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Vuelo</th>
                            <th>Hora Salida</th>
                            <th>Hora Llegada</th>
                            <th>Descripcion</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            foreach (var item in Model)
                            {
                                String estatus;
                                if (item._estatusPlato == 1) { estatus = "Disponible"; } else { estatus = "No disponible"; }

                                <tr id="@item._nombrePlato">
                                    <td>@item._tipoPlato</td>
                                    <td>@estatus</td>
                                    <td>@item._descripcionPlato</td>
                                    <td>
                                        <a href="#" title="Consultar"> <i class="fa fa-eye consultar"></i></a>
                                        <a href="#" title="Modificar"><i class="fa fa-pencil modificar"></i></a>
                                        @if (item._estatusPlato == 1)
                                        {
                                            <a href="#" title="No Disponible"><i class="fa fa-times nodisponible"></i></a>
                                        }
                                        else
                                        {
                                            <a href="#" title="Disponible"><i class="fa fa-check dispobible"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        catch
                        {

                        }

                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Estatus</th>
                            <th>Descripcion</th>
                            <th>Opciones</th>>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
>>>>>>> Develop
