@model FOReserva.Models.Restaurantes.CReservation_Restaurant
@{
    Layout = null;
}
<form id="edit_form" action="@Url.Action("UpdateReserva", "gestion_reserva_restaurante")">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar Reserva</h4>
            </div>
            <div class="modal-body">
                <!-- NOMBRE  Y  VALIDACIONES-->
                <div class="form-group">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Restaurant.Name)
                    <label>A nombre de: </label>
                    @Html.TextBoxFor(model => model.Name, new { @id = "name_client"})
                    @*<input type="text" name="c_name_client" id="c_name_client" value="" class="form-control" data-format="" data-lang="en" data-rtl="false" placeholder="Ingrese el nombre" required>*@
                </div>
                <div id="name_empty" style="display: none;" class="has-error error">
                    <p><i class="fa fa-times-circle" aria-hidden="true"></i> Debe llenar este campo</p>
                </div>
                <div id="name_format" style="display: none;" class="has-error error">
                    <p><i class="fa fa-times-circle" aria-hidden="true"></i> El campo solo debe contener caracteres alfabéticos</p>
                </div>
                <!-- FECHA  Y  VALIDACIONES-->
                <div class="form-group">
                    <label>Fecha: </label>
                    @Html.TextBoxFor(model => model.Date, new { @id = "reserv_date" })
                    @*<input type="text" name="c_reserv_date" id="c_reserv_date" value="" class="form-control datepicker" readonly data-format="yyyy-mm-dd" required data-lang="en" data-rtl="false" placeholder="Selecciona la fecha">*@
                </div>
                <div id="fecha_null" style="display: none;" class="has-error error">
                    <p><i class="fa fa-times-circle" aria-hidden="true"></i> Debe seleccionar una fecha</p>
                </div>
                <!-- HORA  Y  VALIDACIONES-->
                <div class="form-group">
                    <label>Hora:</label>
                    @Html.DropDownListFor(model => model.Time, Model._Time, new { @id = "reserv_hour" })
                </div>
                <div id="hora_null" style="display: none;" class="has-error error">
                    <p><i class="fa fa-times-circle" aria-hidden="true"></i> Debe seleccionar una hora</p>
                </div>
                <!-- CANTIDAD DE PERSONAS  Y  VALIDACIONES-->
                <div class="form-group">
                    <label>Numero de personas:</label>
                    @Html.DropDownListFor(model => model.Count, Model._Count)

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="aceptar_modificar" value="@Model.Id" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>

</form>