@model List<FOReserva.Models.Restaurantes.CReservation_Restaurant>
@{
    ViewBag.Title = "lista reserva de restaurantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="panel panel-default col-sm-12">
            <div class="panel-heading">
                <h2 class="panel-title">Mis Reservas - Restaurantes</h2>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover" id="tablas-reservas-restaurant">
                    <thead>
                        <tr>
                            <th>#Codigo</th>
                            <th>Restaurante</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Nro personas</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="@item.Id" value="@item.Id">
                                <td>@item.Id</td>
                                <td>@item.Restaurant.Name</td>
                                <td class="reserv_name" value="@item.Name">@item.Name</td>
                                <td class="reserv_date" value="@item.Date">@item.Date</td>
                                <td class="reserv_time" value="@item.Time">@item.Time</td>
                                <td class="reserv_count" value="@item.Count">@item.Count</td>
                                <td style="text-align: center;">
                                    <a href="#" id="icon_edit" data-action="@Url.Action("_EditarReserva", "gestion_reserva_restaurante", new { id = item.Id })" class="update list-icon" value="@item.Id" style=" margin-right: 10px;"><i class="fa fa fa-pencil-square"></i></a>
                                    <a href="#" class="delete list-icon" value="@item.Id"><i class="fa fa-times-circle"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODAL PARA ELIMINAR RESERVA -->
<div id="ModalEliminar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar Reserva</h4>
            </div>
            <div class="modal-body">
                <p>&#191;Est&aacute; seguro que desea eliminar esta reserva?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="aceptar_eliminar" value="0" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>
<!-- MODAL ERROR ELIMINAR RESERVA -->
<div id="ModalErrorEliminar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-danger modal-header-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar Reserva</h4>
            </div>
            <div class="modal-body">
                <p>Error al eliminar la reserva, por favor intente m&aacute;s tarde</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="" value="0" class="btn btn-success" data-dismiss="modal">Aceptar</button>
            </div>
        </div>

    </div>
</div>

<!-- MODAL PARA MODIFICAR RESERVA -->
<div id="ModalModificar" class="modal fade" role="dialog">

</div>
<!-- MODAL ERROR EDITAR RESERVA -->
<div id="ModalErrorEditar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-danger modal-header-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar Reserva</h4>
            </div>
            <div class="modal-body">
                <p>Error al editar la reserva, por favor intente m&aacute;s tarde</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="" value="0" class="btn btn-success" data-dismiss="modal">Aceptar</button>
               
            </div>
        </div>

    </div>
</div>



<!-- LLAMADAS AL MODAL -->
<script>
    $(document).ready(function () {
        $('#tablas-reservas-restaurant').DataTable();
    });

    $(document).on('click', '.delete', function () {
        var id_fila = $(this).attr('value');
        $('#aceptar_eliminar').attr('value', id_fila);
        $('#ModalEliminar').modal('show');
    });

    $(document).on('click', '#aceptar_eliminar', function () {
        var id_fila = $(this).attr('value');
        $.ajax({
            url: "/gestion_reserva_restaurante/eliminar_reserva/",
            type: 'POST',
            dataType: "json",
            data: { id: id_fila }

        }).done(function (data) {
            $('#' + id_fila).remove();
        })
	    .fail(function (data) {
	        $('#ModalErrorEliminar').modal('show');
	        console.log("error");
	    })
	    .always(function (data) {
	        console.log("complete");
	    });
    });

    $(document).on('click', '.update', function (e) {
        e.preventDefault();

        //clear errors
        $(".error").hide();
        $("#name_client").removeClass("has-error");
        $("#reserv_date").removeClass("has-error");


        //activar modal
        var url = $(this).attr('data-action');

        $.post(url, function (data) {
            $("#ModalModificar").html(data);
            $('#ModalModificar').modal('show');
        })
    });

</script>


<script>
   
    // CUSTOM VALIDATOR
    $(document).on('click', '#aceptar_modificar', function (e) {
        e.preventDefault();

        //clear errors
        $(".error").hide();
        $("#name_client").removeClass("has-error");
        $("#reserv_date").removeClass("has-error");

        //find errors
        var nombre = $("#name_client").val();
      
        var fecha = $("#reserv_date").prop("value");
        var caracteres = /^[a-zA-Z\s]+$/;

        var win = true;

        //VALIDACION PARA EL NOMBRE
        if (nombre == "" || nombre == undefined || !nombre.match(caracteres)) {
        
            if (nombre == "" || nombre == undefined) {
                $("#name_client").addClass("has-error");
                $("#name_empty").show();
                win = false;
            }
            else {
                $("#name_client").addClass("has-error");
                $("#name_format").show();
                win = false;
            }
        }
        //VALIDACION PARA FECHA
        if (fecha == null || fecha == 0) {
         
            $("#reserv_date").addClass("has-error");
            $("#fecha_null").fadeIn();
            win = false;
        }

        if (win) {
            var form = $('#edit_form');
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize()
            }).done(function (data) {
                console.log(data);
                $('#' + $('#aceptar_modificar').attr('value')).empty();
                $('#' + $('#aceptar_modificar').attr('value')).html(data);
                $('#ModalModificar').modal('hide');
            })
	        .fail(function (data) {
	            $('#ModalModificar').modal('show');
	            $('#ModalErrorEditar').modal('show');
	            console.log("error");
	        })
	        .always(function (data) {
	            console.log("complete");
	        });
        }
        else
           // $('#ModalErrorEditar').modal('show');
            return false;

    })
</script>
