@model List<FOReserva.Models.Restaurantes.CReservation_Restaurant>
@{
    ViewBag.Title = "lista reserva de restaurantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="panel panel-default col-sm-12">
            <div class="panel-heading">
                <h2 class="panel-title">Mis Reservas - Restaurantes</h2>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover" id="tablas-reservas-restaurant">
                    <thead>
                        <tr>
                            <th>#Codigo</th>
                            <th>Restaurante</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Nro personas</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="@item.Id" value="@item.Id">
                            <td>@item.Id</td>
                            <td>@item.Restaurant.Name</td>
                            <td class="reserv_name" value="@item.Name">@item.Name</td>
                            <td class="reserv_date" value="@item.Date">@item.Date</td>
                            <td class="reserv_time" value="@item.Time">@item.Time</td>
                            <td class="reserv_count" value="@item.Count">@item.Count</td>
                            <td style="text-align: center;">
                                <a href="#" class="update list-icon" value="@item.Id"><i class="fa fa fa-pencil-square"></i></a>
                                <a href="#" class="delete list-icon" value="@item.Id"><i class="fa fa-times-circle"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODAL PARA ELIMINAR RESERVA -->
<div id="ModalEliminar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar Reserva</h4>
            </div>
            <div class="modal-body">
                <p>¿Está seguro que desea eliminar esta reserva?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="aceptar_eliminar" value="0" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>

<!-- MODAL PARA MODIFICAR RESERVA -->
<div id="ModalModificar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar Reserva</h4>
            </div>
            <div class="modal-body">
                <!-- NOMBRE  Y  VALIDACIONES-->
                <div class="form-group">
                    <label>A nombre de: </label>
                    <input type="text" name="name_client" id="name_client" value="" class="form-control" data-format="" data-lang="en" data-rtl="false" placeholder="Ingrese el nombre" required>
                </div>
                <div id="name_empty" style="display: none;" class="has-error error">
                    <p><i class="fa fa-times-circle" aria-hidden="true"></i> Debe llenar este campo</p>
                </div>
                <div id="name_format" style="display: none;" class="has-error error">
                    <p><i class="fa fa-times-circle" aria-hidden="true"></i> El campo solo debe contener caracteres alfabéticos</p>
                </div>
                <!-- FECHA  Y  VALIDACIONES-->
                <div class="form-group">
                    <label>Fecha: </label>
                    <input type="text" name="reserv_date" id="reserv_date" value="" class="form-control datepicker" readonly data-format="yyyy-mm-dd" required data-lang="en" data-rtl="false" placeholder="Selecciona la fecha">
                </div>
                <div id="fecha_null" style="display: none;" class="has-error error">
                    <p><i class="fa fa-times-circle" aria-hidden="true"></i> Debe seleccionar una fecha</p>
                </div>
                <!-- HORA  Y  VALIDACIONES-->
                <div class="form-group">
                    <label>Hora:</label>
                    <select name="reserv_hour" id="reserv_hour" class="form-control pointer required">
                        <option value="" selected>Selecciona la hora:</option>
                        <option value="7:00">7:00</option>
                        <option value="8:00">8:00</option>
                        <option value="9:00">9:00</option>
                        <option value="10:00">10:00</option>
                        <option value="11:00">11:00</option>
                        <option value="12:00">12:00</option>
                        <option value="13:00">13:00</option>
                        <option value="14:00">14:00</option>
                        <option value="15:00">15:00</option>
                        <option value="16:00">16:00</option>
                        <option value="17:00">17:00</option>
                        <option value="18:00">18:00</option>
                        <option value="19:00">19:00</option>
                        <option value="20:00">20:00</option>
                        <option value="21:00">21:00</option>
                        <option value="22:00">22:00</option>
                        <option value="23:00">23:00</option>
                    </select>
                </div>
                <div id="hora_null" style="display: none;" class="has-error error">
                    <p><i class="fa fa-times-circle" aria-hidden="true"></i> Debe seleccionar una hora</p>
                </div>
                <!-- CANTIDAD DE PERSONAS  Y  VALIDACIONES-->
                <div class="form-group">
                    <label>Numero de personas:</label>
                    <select name="number_person" id="number_person" class="form-control" required>
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="aceptar_modificar" value="0" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>

<!-- LLAMADAS AL MODAL -->
<script>
    $(document).ready(function () {
        $('#tablas-reservas-restaurant').DataTable();
    });

    $(document).on('click', '.delete', function () {
        var id_fila = $(this).attr('value');
        $('#aceptar_eliminar').attr('value', id_fila);
        $('#ModalEliminar').modal('show');
    });

    $(document).on('click', '#aceptar_eliminar', function () {
        var id_fila = $(this).attr('value');
        $.ajax({
            url: "/gestion_reserva_restaurante/eliminar_reserva/",
            type: 'POST',
            data: { id: id_fila },

        }).done(function () {
            $('#' + id_fila).remove();
        })
	    .fail(function () {
	        console.log("error");
	    })
	    .always(function () {
	        console.log("complete");
	    });
    });
    $(document).on('click', '.update', function () {
        //clear errors
        $(".error").hide();
        $("#name_client").removeClass("has-error");
        $("#reserv_hour").removeClass("has-error");
        $("#reserv_date").removeClass("has-error");


        //activar modal
        var id_fila = '#' + $(this).attr('value');
        $('#aceptar_modificar').attr('value', $(this).attr('value'));
        $('#name_client').attr('value', $(id_fila).children('.reserv_name').attr('value'));
        $('#reserv_date').attr('value', $(id_fila).children('.reserv_date').attr('value'));
        $('#reserv_hour').attr('value', $(id_fila).children('.reserv_time').attr('value'));
        $('#number_person').attr('value', $(id_fila).children('.reserv_count').attr('value'));
        $('#ModalModificar').modal('show');
    });
    function editar_reserva() {
        var id_fila = $(this).attr('value');
        var name_client = $('#name_client').attr('value');
        var reserv_date = $('#reserv_date').attr('value');
        var reserv_hour = $('#reserv_hour').attr('value');
        var number_person = $('#number_person').attr('value');
        $.ajax({
            url: "/gestion_reserva_restaurante/editar_reserva/",
            type: 'POST',
            data: {},

        }).done(function () {

        })
	    .fail(function () {
	        console.log("error");
	    })
	    .always(function () {
	        console.log("complete");
	    });
    }

</script>


<script>
    // DATE PICKER
    $(document).ready(function () {
        $('.datepicker').datepicker({
            orientation: "bottom",
            format: 'yyyy-mm-dd',
            startDate: '0d',
            endDate: '+2m'
        });
        $('#datepicker').datepicker();

        $('#datepicker').on("changeDate", function () {
            $('#my_hidden_input').val(
                $('#datepicker').datepicker('getFormattedDate')
            );
        });
    });
    // CUSTOM VALIDATOR
    $(document).ready(function () {
        $("#aceptar_modificar").on("click", function () {
            //clear errors
            $(".error").hide();
            $("#name_client").removeClass("has-error");
            $("#reserv_hour").removeClass("has-error");
            $("#reserv_date").removeClass("has-error");

            //find errors
            var nombre = $("#name_client").val();
            var hora = $("#reserv_hour").val();
            var fecha = $("#reserv_date").prop("value");
            var caracteres = /^[a-zA-Z\s]+$/;

            var win = true;

            if (nombre == "" || nombre == undefined || !nombre.match(caracteres)) {

                if (nombre == "" || nombre == undefined) {
                    $("#name_client").addClass("has-error");
                    $("#name_empty").fadeIn();
                    win = false;
                }
                else {
                    $("#name_client").addClass("has-error");
                    $("#name_format").fadeIn();
                    win = false;
                }
            }
            if (hora == 0) {
                var win = false;
                $("#reserv_hour").addClass("has-error");
                $("#hora_null").fadeIn();
                win = false;
            }

            if (fecha == null || fecha == 0) {
                var win = false;
                $("#reserv_date").addClass("has-error");
                $("#fecha_null").fadeIn();
                win = false;
            }

            if (win) {
                $("#reserva_form").submit();
            }
            else
                return false;
        });
    });
</script>