<!-- Indico que para esta vista, M04_GestionVuelo_Crear, utilizare el modelo Models/gestion_vuelo/CGestionVuelo-->
@model BOReserva.Models.gestion_vuelo.CrearVueloMO

<script src="~/Scripts/Scripts_Vuelos/llamadas_generales_Vuelos.js"></script>

@using (Html.BeginForm("guardarVuelo", "gestion_vuelo", null, FormMethod.Post, new { @id = "formGuardarVuelo",@class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <h1>
                Gestion de vuelos
                <small>Crear un vuelo</small>
            </h1>
            <div class="box box-solid">
                <div class="box box-solid">
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <!-- TEXTBOX CODIGO DE VUELO -->
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <label style="display:block; margin-left:auto; margin-right:auto;">Codigo de vuelo (<span style="color: #d9534f">*</span>):</label>   
                                @Html.TextBoxFor(m => m._codigoVuelo, null, new { @class = "form-control", @placeholder = "Ej: AA2254", @id = "codigoVuelo", @allign = "center", @onblur = "checkTextCodigo(this);" })
                            </div>
                        </div>
                        <!-- FIN CODIGO DE VUELO -->
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <!-- DROPDOWN CIUDAD ORIGEN -->
                            <div class="col-xs-6">
                                <label> Ciudad Origen (<span style="color: #d9534f">*</span>):</label>
                                @Html.DropDownListFor(m => m._ciudadOrigen, Model._ciudadesOrigen, "Seleccione la Ciudad de Origen",
                                    new { @class = "form-control", @id = "ciudadO", @style = "width: 100%;" })
                                
                            </div>
                            <!-- FIN CIUDAD ORIGEN -->
                            <!-- DROPDOWN CIUDAD DESTINO  -->
                            <div class="col-xs-6">
                                <label> Ciudad Destino (<span style="color: #d9534f">*</span>):</label>
                                <!--Enumerable empty por que lleno con script-->
                                @Html.DropDownListFor(m => m._idRuta, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                                    "Seleccione la Ciudad de Destino", new { @class = "form-control", @id = "ciudadD", @style = "width: 100%;" })
                            </div>
                            <!-- FIN CIUDAD DESTINO  -->
                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <!-- DATE FECHA DESPEGUE  -->
                                <label> Fecha Despegue (<span style="color: #d9534f">*</span>):</label>
                                @Html.TextBoxFor(m => m._fechaDespegue, null, new { @class = "datepicker", @type = "date", @id = "fechaDespegue", @style = "width: 100%;"})
                            </div>
                            <!-- FIN FECHA DESPEGUE -->
                            <div class="col-xs-6">
                                <!-- TIME HORA DESPEGUE  -->
                                <label> Hora Despegue (<span style="color: #d9534f">*</span>):</label>
                                @Html.TextBoxFor(m => m._horaDespegue, null, new { @class = "datepicker", @type = "time", @id = "horaDespegue", @style = "width: 100%;"})
                            </div>
                            <!-- FIN HORA DESPEGUE -->
                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <!-- DROPDOWN ELEGIR MATRICULA AVION -->
                                <label> Elegir avion (<span style="color: #d9534f">*</span>):</label>
                                <!--Enumerable empty por que lleno con script-->
                                @Html.DropDownListFor(m => m._matriculaAvion, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"),
                                "Seleccione un avion", new { @class = "form-control", @id = "matAvion", @style = "width: 100%;" })
                            </div>
                            <!-- FIN ELEGIR MATRICULA AVION -->
                        </div>
                            <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <!-- TEXTBOXFOR MODELO AVION -->
                                <label> Modelo avion:</label>
                                <!--desabilitado por que lleno con script y pertenece a otra tabla-->
                                @Html.TextBoxFor(m => m._modeloAvion, null, new { @id = "modeloAvion", @class = "form-control", @disabled = "disabled" })
                            </div>
                            <!-- FIN MODELO AVION -->
                            <div class="col-xs-6">
                                <!-- TEXTBOXFOR CANTIDAD PASAJEROS -->
                                <label>Capacidad de pasajeros del avion:</label>
                                <!--desabilitado por que lleno con script y pertenece a otra tabla-->
                                @Html.TextBoxFor(m => m._pasajerosAvion, null, new { @class = "form-control", @id = "pasajerosAvion", @disabled = "disabled" })
                            </div>
                        </div>
                        <div>&nbsp;</div>
                                <!-- FIN CANTIDAD PASAJEROS -->
                        <div class="col-md-12" style="margin-top:10px;">
                            <!-- TEXTBOXFOR DISTANCIA MAXIMA VUELO AVION -->
                            <div class="col-xs-6">
                                <label>Distancia maxima de vuelo:</label>
                                <!--desabilitado por que lleno con script y pertenece a otra tabla-->
                                @Html.TextBoxFor(m => m._distanciaMaxima, null, new { @class = "form-control", @id = "distanciaMaxima", @disabled = "disabled" })
                            </div>
                            <!-- FIN DISTANCIA MAXIMA VUELO AVION -->
                            <!-- TEXTBOXFOR VELOCIDAD MAXIMA VUELO AVION -->
                            <div class="col-xs-6">
                                <label>Velocidad maxima:</label>
                                <!--desabilitado por que lleno con script y pertenece a otra tabla-->
                                @Html.TextBoxFor(m => m._velocidadMaxima, null, new { @class = "form-control", @id = "velocidadMaxima", @disabled = "disabled" })
                            </div>
                            <!-- FIN TEXTBOXFOR VELOCIDAD MAXIMA VUELO AVION -->
                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <!-- DROPDOWNLISTFOR STATUS-->
                                <label> Estado vuelo (<span style="color: #d9534f">*</span>):</label>
                                <!--Solo puede ser de tipo "Activo" o "Inactivo"-->
                                @Html.DropDownListFor(m => m._statusVuelo, new[] { new SelectListItem() { Text = "Activo", Value = "Activo"}, new SelectListItem()
                                        { Text = "Inactivo", Value = "Inactivo" } },
                                   "Seleccione el status", new { @style = "width: 100%;", @class = "form-control", @id = "estadoVuelo" })
                            </div>
                            <!-- FIN STATUS  -->
                        </div>
                            <div>&nbsp;</div>
                            <div class="col-md-12" style="margin-top:10px;">
                                <div class="col-xs-6">
                                    <!-- DATE FECHA ATERRIZAJE  -->
                                    <label> Fecha Aterrizaje:</label>
                                    <!--desabilitado por que lleno con script que calcula segun ruta y avion-->
                                    @Html.TextBoxFor(m => m._fechaAterrizaje, null, new { @class = "form-control", @placeholder = "dd/mm/yyyy", @id = "fechaAterrizaje", @style = "width: 100%;", @disabled = "disabled" })
                                </div>
                                <!-- FIN FECHA ATERRIZAJE  -->
                                <div class="col-xs-6">
                                    <label> Hora Aterrizaje:</label>
                                    <!--desabilitado por que lleno con script que calcula segun ruta y avion-->
                                    @Html.TextBoxFor(m => m._horaAterrizaje, null, new { @class = "form-control", @placeholder = "--:--", @id = "horaAterrizaje", @style = "width: 100%;", @disabled = "disabled" })
                                </div>
                            </div>
                            <div>&nbsp;</div>

                            <!-- FIN CAMPOS FORMULARIO-->
                            <!-- BOTON GUARDAR-->
                            <div class="col-md-12" style="margin-top:10px;">
                                <button type="submit" id="agregarVuelo" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
                            </div>
                        <!--FIN BOTON GUARDAR-->
                        </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    
    }

