<<<<<<< HEAD
﻿@model List<BOReserva.Models.gestion_vuelo.CVuelo>
<div class="row">
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Vuelos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Codigo Vuelo</th>
                            <th>Ciudad Origen</th>
                            <th>Ciudad Destino</th>
                            <th>Fecha Despegue</th>
                            <th>Fecha Aterrizaje </th>
                            <th>Status</th>
                            <th>Avion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            foreach (BOReserva.Models.gestion_vuelo.CVuelo item in Model)
                            {
                              
                                <tr id="@item._codigoVuelo">
                                    <td>@item._codigoVuelo</td>
                                    <td>@item._ciudadOrigen</td>
                                    <td>@item._ciudadDestino</td>
                                    <td>@item._fechaDespegue</td>
                                    <td>@item._fechaAterrizaje</td>
                                    <td>@item._statusVuelo</td>
                                    <td>@item._matriculaAvion</td>
                                    <td>
                                        <a href="#"> <i class="fa fa-eye mostrar"></i></a>
                                        <a href="#"><i class="fa fa-gear modificar"></i></a>
                                        <a href="#"><i class="fa fa-times desactivar"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        catch
                        {

                        }

                    <tfoot>
                        <tr>
                            <th>Codigo Vuelo</th>
                            <th>Ciudad Origen</th>
                            <th>Ciudad Destino</th>
                            <th>Fecha Despegue</th>
                            <th>Fecha Aterrizaje </th>
                            <th>Status</th>
                            <th>Avion</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
             <!-- .box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<script>

    
</script>

<script src="../../Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../Content/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../../Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../Content/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../Content/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->

<script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(".mostrar").click(function () {
                var identificador = $(this).parent().parent().parent().attr("id");
                jQuery.ajax({
                    type: "GET",
                    url: "/gestion_vuelo/M04_GestionVuelo_Mostrar",
                    data: { codigovuelo: identificador }
                }).done(function (data) {
                    $("#contenido").empty();
                    $("#contenido").append(data);
                            var url = '/gestion_vuelo/M04_GestionVuelo_Visualizar';
                            var method = 'GET';
                            var data = '';
                            $.ajax(
                                {
                                    url: url,
                                    type: method,
                                    data: data,
                                    success: function (data, textStatus, jqXHR) {

                                        $("#contenido").empty();
                                        $("#contenido").append(data);
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        alert(errorThrown);
                                    }
                                });
                                    }).fail(function (err) {
                                        alert(err)
                                    });


            });



        });

        $(document).ready(function () {
            $(".modificar").click(function () {
                var identificador = $(this).parent().parent().parent().attr("id");
                jQuery.ajax({
                    type: "GET",
                    url: "/gestion_vuelo/M04_GestionVuelo_Modificar",
                    data: { codigovuelo: identificador }
                }).done(function (data) {
                    $("#contenido").empty();
                    $("#contenido").append(data);
                }).fail(function (err) {
                    alert(err)
                });


            });



        });



        $(document).ready(function () {
            $(".desactivar").click(function () {
                alert("Desactivando Vuelo Por favor Espere...")
                var identificador = $(this).parent().parent().parent().attr("id");
                jQuery.ajax({
                    type: "GET",
                    url: "/gestion_vuelo/M04_GestionVuelo_Desactivar",
                    data: { codigovuelo: identificador }
                }).done(function (data) {
                    $("#contenido").empty();
                    $("#contenido").append(data);
                    alert("Vuelo Desactivado, Cargando Vuelos")
                    var url = '/gestion_vuelo/M04_GestionVuelo_Visualizar';
                    var method = 'GET';
                    var data = '';

                    $.ajax(
                        {
                            url: url,
                            type: method,
                            data: data,
                            success: function (data, textStatus, jqXHR) {

                                $("#contenido").empty();
                                $("#contenido").append(data);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(errorThrown);
                            }
                        });
                }).fail(function (err) {
                    alert('Fallo')
                });
            });

        });

</script>

=======
﻿@model List<BOReserva.Models.gestion_vuelo.CVuelo>
<div class="row">
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Vuelos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Codigo Vuelo</th>
                            <th>Ciudad Origen</th>
                            <th>Ciudad Destino</th>
                            <th>Fecha Despegue</th>
                            <th>Fecha Aterrizaje </th>
                            <th>Status</th>
                            <th>Avion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            foreach (BOReserva.Models.gestion_vuelo.CVuelo item in Model)
                            {
                              
                                <tr id="@item._codigoVuelo">
                                    <td>@item._codigoVuelo</td>
                                    <td>@item._ciudadOrigen</td>
                                    <td>@item._ciudadDestino</td>
                                    <td>@item._fechaDespegue</td>
                                    <td>@item._fechaAterrizaje</td>
                                    <td>@item._statusVuelo</td>
                                    <td>@item._matriculaAvion</td>
                                    <td>
                                        <a href="#"> <i class="fa fa-eye mostrar"></i></a>
                                        <a href="#"><i class="fa fa-gear modificar"></i></a>
                                        <a href="#"><i class="fa fa-times desactivar"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        catch
                        {

                        }

                    <tfoot>
                        <tr>
                            <th>Codigo Vuelo</th>
                            <th>Ciudad Origen</th>
                            <th>Ciudad Destino</th>
                            <th>Fecha Despegue</th>
                            <th>Fecha Aterrizaje </th>
                            <th>Status</th>
                            <th>Avion</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
             <!-- .box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<script>

    
</script>

<script src="../../Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../Content/bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../../Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../Content/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../Content/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->

<script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(".mostrar").click(function () {
                var identificador = $(this).parent().parent().parent().attr("id");
                jQuery.ajax({
                    type: "GET",
                    url: "/gestion_vuelo/M04_GestionVuelo_Mostrar",
                    data: { codigovuelo: identificador }
                }).done(function (data) {
                    $("#contenido").empty();
                    $("#contenido").append(data);
                            var url = '/gestion_vuelo/M04_GestionVuelo_Visualizar';
                            var method = 'GET';
                            var data = '';
                            $.ajax(
                                {
                                    url: url,
                                    type: method,
                                    data: data,
                                    success: function (data, textStatus, jqXHR) {

                                        $("#contenido").empty();
                                        $("#contenido").append(data);
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        alert(errorThrown);
                                    }
                                });
                                    }).fail(function (err) {
                                        alert(err)
                                    });


            });



        });

        $(document).ready(function () {
            $(".modificar").click(function () {
                var identificador = $(this).parent().parent().parent().attr("id");
                jQuery.ajax({
                    type: "GET",
                    url: "/gestion_vuelo/M04_GestionVuelo_Modificar",
                    data: { codigovuelo: identificador }
                }).done(function (data) {
                    $("#contenido").empty();
                    $("#contenido").append(data);
                }).fail(function (err) {
                    alert(err)
                });


            });



        });



        $(document).ready(function () {
            $(".desactivar").click(function () {
                alert("Desactivando Vuelo Por favor Espere...")
                var identificador = $(this).parent().parent().parent().attr("id");
                jQuery.ajax({
                    type: "GET",
                    url: "/gestion_vuelo/M04_GestionVuelo_Desactivar",
                    data: { codigovuelo: identificador }
                }).done(function (data) {
                    $("#contenido").empty();
                    $("#contenido").append(data);
                    alert("Vuelo Desactivado, Cargando Vuelos")
                    var url = '/gestion_vuelo/M04_GestionVuelo_Visualizar';
                    var method = 'GET';
                    var data = '';

                    $.ajax(
                        {
                            url: url,
                            type: method,
                            data: data,
                            success: function (data, textStatus, jqXHR) {

                                $("#contenido").empty();
                                $("#contenido").append(data);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(errorThrown);
                            }
                        });
                }).fail(function (err) {
                    alert('Fallo')
                });
            });

        });

</script>

>>>>>>> Develop
