<!-- Indico que para esta vista, M04_GestionVuelo_Modificar, utilizare el modelo Models/gestion_vuelo/CGestionVuelo-->
@model BOReserva.Models.gestion_vuelo.CVueloModificar


<script src="~/Scripts/Scripts_Vuelos/llamadas_generales_Vuelos.js"></script>

@using (Html.BeginForm("guardarVuelo", "gestion_vuelo", null, FormMethod.Post, new { @id = "formGuardarVuelo", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <h1>
                Gestion de vuelos
                <small>Modificar un vuelo</small>
            </h1>
            <div class="box box-solid">
                <div class="box box-solid">
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <!-- TEXTBOX CODIGO DE VUELO -->
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <label> Codigo de vuelo anterior:</label>
                                @Html.TextBoxFor(m => m._codigoVuelo, null, new { @class = "form-control", @allign = "center", @disabled="disabled" })
                               </div>
                            <div class="col-xs-6">
                                <label> Nuevo codigo de vuelo</label>
                                @Html.TextBoxFor(m => m._codigoVueloNuevo, null, new { @class = "form-control", @placeholder = "Ej: AA 2254", @id = "codigoVuelo", @allign = "center" })
                            </div>
                         </div>
                        <!-- FIN CODIGO DE VUELO -->
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <!-- DROPDOWN CIUDAD ORIGEN -->
                            <div class="col-xs-6">  
                                 <label> Nueva ciudad de origen:</label>
                                @{
                                    List<SelectListItem> ciudadesorigenes = BOReserva.Controllers.gestion_vueloController.ciudadesorigen();
                                        @Html.DropDownListFor(m => m._ciudadOrigenNuevo, ciudadesorigenes, Model._ciudadOrigen, new { @class = "form-control", @placeholder = "CiudadOrigen", @id = "ciudadOMod", @onblur = "listadeciudades(this.value);" });

                                }
                           </div>
                         </div>
                        <!-- FIN CIUDAD ORIGEN -->
                        <div>&nbsp;</div>
                            <!-- DROPDOWN CIUDAD DESTINO  -->
                            <div class="col-xs-6">
                                <label> Ciudad Destino (<span style="color: #d9534f">*</span>):</label>
                                <!--Enumerable empty por que lleno con script-->
                                @Html.TextBoxFor(m => m._ciudadDestinoNuevo, null, new { @class = "form-control", @placeholder = "Ej: AA 2254", @id = "codigoVuelo", @allign = "center" })
                            </div>
                            <!-- FIN CIUDAD DESTINO  -->
                        <div class="col-xs-6">
                            <label> Nueva ciudad de destino:</label>
                            @{
                                List<SelectListItem> ciudadesdestinos = BOReserva.Controllers.gestion_vueloController.ciudadesdestino(Model._ciudadOrigen);
                                Response.Write("<script>alert('" + ciudadesdestinos.First().Text + "');</script>");
                                @Html.DropDownListFor(m => m._ciudadDestino, ciudadesdestinos, Model._ciudadDestino, new { @class = "form-control", @placeholder = "CiudadOrigen", @id = "ciudadDMod", @onblur = "listadeciudades(this.value);" });

                            }
                        </div>

                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <!-- DATE FECHA DESPEGUE  -->
                                <label> Fecha/Hora Despegue (<span style="color: #d9534f">*</span>):</label>
                                @Html.TextBoxFor(m => m._fechaDespegue, null, new { @class = "form-control", @placeholder = "Ej: AA 2254", @id = "codigoVuelo", @allign = "center" })
                            </div>
                            <!-- FIN FECHA DESPEGUE -->
                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <!-- DROPDOWN ELEGIR MATRICULA AVION -->
                                <label> Avion (<span style="color: #d9534f">*</span>):</label>
                                <!--Enumerable empty por que lleno con script-->
                                @Html.TextBoxFor(m => m._matriculaAvion, null, new { @class = "form-control", @placeholder = "Ej: AA 2254", @id = "codigoVuelo", @allign = "center" })

                            </div>
                            <!-- FIN ELEGIR MATRICULA AVION -->
                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <!-- TEXTBOXFOR MODELO AVION -->
                                <label> Modelo avion:</label>
                                <!--desabilitado por que lleno con script y pertenece a otra tabla-->
                                @Html.TextBoxFor(m => m._modeloAvion, null, new { @id = "modeloAvion", @class = "form-control", @disabled = "disabled" })
                            </div>
                            <!-- FIN MODELO AVION -->
                            <div class="col-xs-6">
                                <!-- TEXTBOXFOR CANTIDAD PASAJEROS -->
                                <label>Capacidad de pasajeros del avion:</label>
                                <!--desabilitado por que lleno con script y pertenece a otra tabla-->
                                @Html.TextBoxFor(m => m._pasajerosAvion, null, new { @class = "form-control", @id = "pasajerosAvion", @disabled = "disabled" })
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <!-- FIN CANTIDAD PASAJEROS -->
                        <div class="col-md-12" style="margin-top:10px;">
                            <!-- TEXTBOXFOR DISTANCIA MAXIMA VUELO AVION -->
                            <div class="col-xs-6">
                                <label>Distancia maxima de vuelo:</label>
                                <!--desabilitado por que lleno con script y pertenece a otra tabla-->
                                @Html.TextBoxFor(m => m._distanciaMaxima, null, new { @class = "form-control", @id = "distanciaMaxima", @disabled = "disabled" })
                            </div>
                            <!-- FIN DISTANCIA MAXIMA VUELO AVION -->
                            <!-- TEXTBOXFOR VELOCIDAD MAXIMA VUELO AVION -->
                            <div class="col-xs-6">
                                <label>Velocidad maxima:</label>
                                <!--desabilitado por que lleno con script y pertenece a otra tabla-->
                                @Html.TextBoxFor(m => m._velocidadMaxima, null, new { @class = "form-control", @id = "velocidadMaxima", @disabled = "disabled" })
                            </div>
                            <!-- FIN TEXTBOXFOR VELOCIDAD MAXIMA VUELO AVION -->
                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <!-- DROPDOWNLISTFOR STATUS-->
                                <label> Estado vuelo (<span style="color: #d9534f">*</span>):</label>
                                <!--Solo puede ser de tipo "Activo" o "Inactivo"-->
                                @Html.TextBoxFor(m => m._statusVuelo, null, new { @class = "form-control", @placeholder = "Ej: AA 2254", @id = "codigoVuelo", @allign = "center" })
                            </div>
                            <!-- FIN STATUS  -->
                        </div>
                        <div>&nbsp;</div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-xs-6">
                                <!-- DATE FECHA ATERRIZAJE  -->
                                <label> Fecha/Hora Aterrizaje:</label>
                                <!--desabilitado por que lleno con script que calcula segun ruta y avion-->
                                @Html.TextBoxFor(m => m._fechaAterrizaje, null, new { @class = "form-control", @placeholder = "dd/mm/yyyy", @id = "fechaAterrizaje", @style = "width: 100%;", @disabled = "disabled" })
                            </div>
                            <!-- FIN FECHA ATERRIZAJE  -->

                        </div>
                        <div>&nbsp;</div>

                        <!-- FIN CAMPOS FORMULARIO-->
                        <!-- BOTON GUARDAR-->
                        <div class="col-md-12" style="margin-top:10px;">
                            <button type="button" id="return" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
                        </div>
                        <!--FIN BOTON GUARDAR-->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

}

