@model List<FOReserva.Models.Autos.CReserva_Autos_Perfil>
@{
    ViewBag.Title = "Resultados Automoviles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    if (Model.Count() == 0)
    {
        <div class="row">
            <center><h1><i class="fa fa-exclamation-circle orange" aria-hidden="true"></i> No hay autos disponibles </h1></center>
        </div>
    }
    else
    {
         <!-- FEATURED GRID -->
<div class="row">
    <ul class="shop-item-list row list-inline nomargin">

        @foreach (var item in Model)
        {
            using (Html.BeginForm("M19_Accion_Reserva", "gestion_reserva_auto", FormMethod.Post))
            { 
                <li class="col-lg-12">
                    <div class="shop-item clearfix">
                        <input type="hidden" name="fechaini" value="@item.FechaIni">
                        <input type="hidden" name="fechafin" value="@item.FechaFin">
                        <input type="hidden" name="horaini" value="@item.HoraIni">
                        <input type="hidden" name="horafin" value="@item.HoraFin">
                        <input type="hidden" name="ciudadori" value="@item.CiudadOri">
                        <input type="hidden" name="ciudaddes" value="@item.CiudadDes">
                        <input type="hidden" name="matricula" value="@item.Autos.Matricula">
                        <input type="hidden" name="modelo" value="@item.Autos.Modelo">
                        <input type="hidden" name="fabricante" value="@item.Autos.Fabricante">
                        <input type="hidden" name="tipo" value="@item.Autos.Tipo">
                        <input type="hidden" name="color" value="@item.Autos.Color">
                        <input type="hidden" name="transmision" value="@item.Autos.Transmision">
                        <input type="hidden" name="ciudad" value="@item.Autos.Ciudad">
                        <input type="hidden" name="precio" value="@item.Autos.Precio">
                        <input type="hidden" name="anio" value="@item.Autos.Anio">
                        <input type="hidden" name="pasajero" value="@item.Autos.Pasajeros">
                        <input type="hidden" name="disponibilidad" value="@item.Autos.Disponibilidad">
                        <div class="shop-item-summary ">
                            
                            <h2>@item.Autos.Fabricante - @item.Autos.Modelo</h2>
                            
                            <a class="shop-item-image" href="shop-single-left.html">
                                <img class="img-responsive" src="@Url.Content("~/Content/assets/images/demo/shop/home/nodisponible.jpg")" alt="shop first image" width="200" />
                            </a>
                            
                            <div class="shop-item-summary">
                                <div class="col-md-6">
                                    <p>
                                        <span>Tipo:&nbsp;</span><strong>@item.Autos.Tipo</strong><br>
                                        <span>Color:&nbsp;<strong>@item.Autos.Color</strong></span><br>
                                        <span>Transmisión:&nbsp;<strong>@item.Autos.Transmision</strong></span><br>
                                        <span>Año:&nbsp;<strong>@item.Autos.Anio</strong></span><br>
                                        <span>Pasajeros:&nbsp;<strong>@item.Autos.Pasajeros</strong></span><br>
                                    </p>
                                    </div>
                                </div>


                            </div>
                        <div class="shop-item-buttons text-right">
                            <span style="font-size: 20px; color: black"><strong>Bs. @item.Autos.Precio</strong></span><br>
                            <br><br>
                            <button type="submit" id="reservaAutos" class="btn btn-primary">Reserva</button>
                        </div>
                    </div>

                </li>
            }
           
        }
        </ul>
    </div>
} 

}

