@model FOReserva.Models.Autos.Cvista_ReservaAutos

<!-- FLIP BOX -->
<div class="box-light box-icon box-icon-center box-icon-round box-icon-large text-center nomargin">
    <div class="front">
        <div class="box1 noradius">
            <div class="box-icon-title">
                <i class="fa fa-history"></i>
                <h2>Felica Doe &ndash; History</h2>
            </div>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
        </div>
    </div>
</div>
<!-- /FLIP BOX -->


<div class="box-light">
    <!-- .box-light OR .box-dark -->

    <div class="box-inner">

        <h4>Mis Reservas de Autos</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="sample_1">
                <thead>
                    <tr>
                        <th class="width-30">Img</th>
                        <th>Column name</th>
                        <th>Ratings</th>
                        <th>Estatus</th>
                        <th>Column name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"><img src="@Url.Content("~/Content/assets/images/male.png")" alt="" width="20"></td>
                        <td>Value 1</td>
                        <td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                        <td>
                            <span class="label label-success">Aprobado </span>
                        </td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-edit white"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-times white"></i> Delete </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><img src="@Url.Content("~/Content/assets/images/female.png")" alt="" width="20"></td>
                        <td>Value 2</td>
                        <td><div class="rating rating-1 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                        <td>
                            <span class="label label-info">Pendiente</span>
                        </td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-edit white"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-times white"></i> Delete </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><img src="@Url.Content("~/Content/assets/images/female.png")" alt="" width="20"></td>
                        <td>Value 3</td>
                        <td><div class="rating rating-2 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                        <td>
                            <span class="label label-warning">Suspendido</span>
                        </td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-edit white"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-times white"></i> Delete </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><img src="@Url.Content("~/Content/assets/images/male.png")" alt="" width="20"></td>
                        <td>Value 4</td>
                        <td><div class="rating rating-3 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                        <td>
                            <span class="label label-danger">Cancelado</span>
                        </td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-edit white"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-times white"></i> Delete </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><img src="@Url.Content("~/Content/assets/images/male.png")" alt="" width="20"></td>
                        <td>Value 5</td>
                        <td><div class="rating rating-4 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
                        <td><span class="label label-primary">N/A </span></td>
                        <td>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-edit white"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-times white"></i> Delete </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>

</div>

<script type="text/javascript" src="@Url.Content("~/Content/assets/plugins/datatables/js/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Contentassets/plugins/datatables/js/dataTables.tableTools.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Contentassets/plugins/datatables/js/dataTables.colReorder.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Contentassets/plugins/datatables/js/dataTables.scroller.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Contentassets/plugins/datatables/dataTables.bootstrap.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Contentassets/plugins/select2/js/select2.full.min.js")"></script>

