@model BOReserva.Models.gestion_ofertas.CModificarOferta


@using (Html.BeginForm("modifyOferta", "gestion_ofertas", null, FormMethod.Post, new { @id = "modifyOfertaForm", @class = "form-horizontal" }))
{
    <!-----------------SECCION CONSULTAR OFERTA-------------------->
    <div class="row">
        <div class="col-md-12">
            <div class="box box">
                <div class="box-header with-border">
                    <h1 class="box-title"> Modificar Oferta</h1>
                    @Html.TextBoxFor(m => m._idOferta, null, new { @style = "display:none;", @id = "idOferta" })
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-12" style="margin-top: 25px">

                            <div class="col-xs-6">
                                <label>Nombre de la Oferta</label>
                                @Html.TextBoxFor(m => m._nombreOferta, null, new { @class = "form-control", @placeholder = "", @id = "nombreOferta" })
                            </div>

                        </div>

                        <div class="col-md-12" style="margin-top: 25px">

                            <div class="col-xs-6">
                                <label>Fecha Inicio:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaIniOferta, "{0:dd/MM/yyyy}", new { @class = "form-control", @placeholder = "dd/MM/AAAA", @id = "fechaIniOferta" })
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <label>Fecha Fin:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaFinOferta, "{0:dd/MM/yyyy}", new { @class = "form-control", @placeholder = "dd/MM/AAAA", @id = "fechaFinOferta" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 25px">

                            <div class="col-xs-6">
                                <label>Porcentaje de Oferta</label>
                                @Html.TextBoxFor(m => m._porcentajeOferta, null, new { @class = "form-control", @placeholder = "", @id = "porcentajeOferta", @type = "number", @min = "1", @max = "99" })
                            </div>

                            <div class="col-xs-6">
                                <label>Estado de la Oferta</label>
                                @Html.TextBoxFor(m => m._estadoOferta, null, new { @class = "form-control", @placeholder = "", @id = "estadoOferta", @disabled = "disabled", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="col-md-1" style="visibility: hidden">
                            @Html.TextBoxFor(m => m._idOferta, null, new { @class = "form-control", @placeholder = "", @id = "idOferta" })
                        </div>

                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-md-5">
                                <label>Paquetes Asociados:</label>
                                <select id="paquetesAsociados" class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Auto" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    @*Opciones cargadas con js*@
                                </select>
                            </div>
                            <div class="col-md-2" style="margin-top: 30px;">
                                <button id='asociar' type='button' class='btn btn-default' style='margin-left:75px;'>
                                    <i class='fa fa-chevron-left'></i>
                                </button>
                                <button id='desasociar' type='button' class='btn btn-default' style='margin-left:75px;'>
                                    <i class='fa fa-chevron-right'></i>
                                </button>
                            </div>

                            <div class="col-md-5">
                                <label>Paquetes Disponibles:</label>
                                <select id="paquetesDisponibles" class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Auto" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    @*Opciones cargadas con js*@
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:20px;">
                            <div class="col-md-4"></div>
                            <div class="col-md-2">
                                <button type="button" id="modify_oferta" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
                            </div>
                            <div class="col-md-2">
                                <button id="cancel_modification" type="button" class="btn btn-danger" style="display:block; margin-left:auto; margin-right:auto;">Cancelar</button>
                            </div>
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
}
<script>
    getPaquetesDisponibles();
    getPaquetesAsociados();

    var dataPaquetesAsociados;
    var dataPaquetesDisponibles;

    var idOferta = $("#idOferta").val();

    $("#modify_oferta").click(function (e) {
        e.preventDefault();
        if (validarCamposVacios() && validarEstarFechas() && compararFechas()) {
            enviarPaquetesDisponibles();
        }
    });

    function modificarOferta() {

        var form = $("#modifyOfertaForm");
        var porcentajeOferta = $('#porcentajeOferta').val();
        var estadoOferta = $('#estadoOferta').val();
        if (porcentajeOferta && estadoOferta) {
            $.ajax({
                url: "gestion_ofertas/modifyOferta",
                data: form.serialize(),
                type: 'POST',
                success: function (data) {
                    alert("Se ha modificado exitosamente");
                    var url1 = '/gestion_ofertas/M11_VisualizarOferta';
                    var method = 'GET';
                    var data1 = '';

                    $.ajax(
                        {
                            url: url1,
                            type: method,
                            data: data,
                            success: function (data, textStatus, jqXHR) {

                                $("#contenido").empty();
                                $("#contenido").append(data);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(errorThrown);
                            }
                        });
                }
            });
        } else {
            var error = "Existen campos vacios, por favor reviselos";
            alert(error);
        }
    }



    $("#cancel_modification").click(function (e) {
        e.preventDefault();
        var url = '/gestion_ofertas/M11_VisualizarOferta';
        var method = 'GET';
        var data = '';

        $.ajax(
            {
                url: url,
                type: method,
                data: data,
                success: function (data, textStatus, jqXHR) {

                    $("#contenido").empty();
                    $("#contenido").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    });


    //e.preventDefault();
    $(".eliminar").click(function () {
        var identificador = $(this).parent().parent().parent().attr("id");
        jQuery.ajax({
            type: "GET",
            url: "/gestion_ofertas/deletePaquete",
            data: { idPaquete: identificador }//valor = es el nombre q recibes en el método es decir public ActionResult M08_VisualizarAutomoviles(string valor)
        }).done(function (data) {
            alert("Se ha desvinculado exitosamente el paquete de la oferta")
            $("#" + identificador).remove()
        }).fail(function () {
            alert("error")
        });
    });

    function getPaquetesDisponibles() {
        $.ajax(
           {
               url: '/gestion_ofertas/M11_CargarPaquetesSelect',
               type: 'POST',
               success: function (data) {
                   dataPaquetesDisponibles = data;
                   mostrarPaquetesMultiselect();
               },
               error: function (jqXHR, textStatus, errorThrown) {
                   alert(errorThrown);
               }
           });
    }

    function mostrarPaquetesMultiselect() {
        for (var i in dataPaquetesDisponibles) {
            var idPaquete = dataPaquetesDisponibles[i]._idPaquete;
            var nombrePaquete = dataPaquetesDisponibles[i]._nombrePaquete;
            $("#paquetesDisponibles").append('<option value="' + idPaquete + '">' + nombrePaquete + '</option>');
        }
    }

    function getPaquetesAsociados() {
        $.ajax(
           {
               url: '/gestion_ofertas/M11_CargarPaquetesAsociados',
               type: 'POST',
               data: { 'idOferta': $("#idOferta").val() },
               success: function (data) {
                   dataPaquetesAsociados = data;
                   mostrarPaquetesAsociados();
               },
               error: function (jqXHR, textStatus, errorThrown) {
                   alert(errorThrown);
               }
           });
    }

    function mostrarPaquetesAsociados() {
        for (var i in dataPaquetesAsociados) {
            var idPaquete = dataPaquetesAsociados[i]._idPaquete;
            var nombrePaquete = dataPaquetesAsociados[i]._nombrePaquete;
            $("#paquetesAsociados").append('<option value="' + idPaquete + '">' + nombrePaquete + '</option>');
        }
    }

    function getSelectedAsociados() {
        var selectedValues = [];
        $("#paquetesAsociados :selected").each(function () {
            selectedValues.push($(this).val());
        });
    }

    function getSelectedDisponibles() {
        var selectedValues = [];
        $("#paquetesDisponibles :selected").each(function () {
            selectedValues.push($(this).val());
        });
    }

    function enviarPaquetesDisponibles() {
        if (validarCamposVacios() && validarEstarFechas() && compararFechas()) {
            var disponibles = [];
            $("#paquetesDisponibles option").each(function (i) {
                disponibles[i] = $(this).val();
            });

            $.ajax({
                url: "gestion_ofertas/desasociarPaquetesModificar",
                data: { idsPaquetes: disponibles, idOferta: idOferta },
                type: 'POST',
                success: function (data) {
                    enviarPaquetesAsociados()
                }
               , error: function (xhr, textStatus, exceptionThrown) {
                   //muestro el texto del error
                   alert(xhr.responseText);
               }
            });
        }
    }

    function enviarPaquetesAsociados() {
        var asociados = [];
        $("#paquetesAsociados option").each(function (i) {
            asociados[i] = $(this).val();
        });

        $.ajax({
            url: "gestion_ofertas/asociarPaquetesModificar",
            data: { idsPaquetes: asociados, idOferta: idOferta },
            type: 'POST',
            success: function (data) {
                modificarOferta();
            }
          , error: function (xhr, textStatus, exceptionThrown) {
              //muestro el texto del error
              alert(xhr.responseText);
          }
        });
    }

    $('#asociar').click(function () {
        if ($('#paquetesDisponibles option:selected').val() != null) {
            var tempSelect = $('#paquetesDisponibles option:selected').val();
            $('#paquetesDisponibles option:selected').remove().appendTo('#paquetesAsociados');
            $("#paquetesDisponibles").attr('selectedIndex', '-1').find("option:selected").removeAttr("selected");
            $("#paquetesAsociados").attr('selectedIndex', '-1').find("option:selected").removeAttr("selected");
            $("#paquetesAsociados").val(tempSelect);
            tempSelect = '';
        } else {
        }
    });

    $('#desasociar').click(function () {
        if ($('#paquetesAsociados option:selected').val() != null) {
            var tempSelect = $('#paquetesAsociados option:selected').val();
            $('#paquetesAsociados option:selected').remove().appendTo('#paquetesDisponibles');
            $("#paquetesAsociados").attr('selectedIndex', '-1').find("option:selected").removeAttr("selected");
            $("#paquetesDisponibles").attr('selectedIndex', '-1').find("option:selected").removeAttr("selected");

            $("#paquetesDisponibles").val(tempSelect);
            tempSelect = '';
        } else {
        }
    });

    function validarEstarFechas() {
        if (($("#fechaIniOferta").val() == "") || ($("#fechaFinOferta").val() == "")) {
            alert('La Oferta debe tener fecha inicio y fecha fin!');
            return false;
        }
        return true;
    }

    //Valida que el nombre y precio no esten vacios
    function validarCamposVacios() {
        if (($("#nombreOferta").val() == "") || ($("#porcentajeOferta").val() == "")) {
            alert('Debes llenar el nombre y porcentaje de la Oferta!');
            return false;
        }
        return true;
    }
    //Compara todas las fechas introducidas
    function compararFechas() {
        if (!validarFechas($("#fechaIniOferta").val(), $("#fechaFinOferta").val())) {
            alert('La fecha fin debe ser mayor que la fecha inicio!');
            return false;
        }
        return true;
    }

    //Valida que la fecha inicio sea mayor que la fecha fin
    function validarFechas(fi, ff) {
        if ((new Date(fi).getTime() > new Date(ff).getTime())) {
            return false;
        }
        return true;
    }
</script>
<!-----------------FIN SECCION CONSULTAR OFERTA-------------------->
