@model BOReserva.Models.gestion_ofertas.CPaquete

<!---------------------- SECCION DE AGREGAR PAQUETE ---------------->
<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h1 class="box-title"> Modificar Paquete</h1>
                @Html.TextBoxFor(m => m._idPaquete, null, new { @style = "display:none;", @id = "idPaquete" })
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-xs-4">
                                <label>Nombre del Paquete (<span style="color:red">*</span>):</label>
                                <input type="text" class="form-control" id="nombrePaq" disabled>
                            </div>
                        </div>

                        <!-- AUTO -->
                        <div class="col-md-12" style="margin-top: 25px;">

                        </div>

                        <div class="col-md-12">

                            <div class="col-xs-4">
                                <label>Seleccione Automóvil</label>
                                <select class="form-control" id="cbAuto" disabled>
                                    <option id="cbAuto-00" value="00">Cargando...</option>
                                </select>
                            </div>

                            <div class="col-xs-4">
                                <label>Fecha Inicio:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaIniAuto, null, new { @class = "form-control", @name = "fechaIniAuto", @id = "fechaIniAuto", placeholder = "dd/MM/YYYY", @disabled = "disabled" })
                                    @*<input type="text" name="fechaIniAuto" value="" class="form-control datepicker required">*@

                                </div>
                                <!-- /.input group -->
                            </div>

                            <div class="col-xs-4">
                                <label>Fecha fin:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaFinAuto, null, new { @class = "form-control", @name = "fechaFinAuto", @id = "fechaFinAuto", placeholder = "dd/MM/YYYY", @disabled = "disabled" })
                                    @*<input type="text" name="fechaFinAuto" value="" class="form-control datepicker required">*@

                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <!-- FIN AUTO -->
                        <!-- REST -->
                        <div class="col-md-12" style="margin-top: 25px;">

                        </div>


                        <div class="col-md-12">

                            <div class="col-xs-4">
                                <label>Seleccione Restaurante</label>
                                <select class="form-control" id="cbRest" disabled>
                                    <option id="cbRest-00" value="00">Cargando...</option>
                                </select>
                            </div>

                            <div class="col-xs-4">
                                <label>Fecha Inicio:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaIniRest, null, new { @class = "form-control", @name = "fechaIniRest", @id = "fechaIniRest", placeholder = "dd/MM/YYYY", @disabled = "disabled" })
                                    @*<input type="text" name="fechaIniRest" value="" class="form-control datepicker required">*@

                                </div>
                                <!-- /.input group -->
                            </div>

                            <div class="col-xs-4">
                                <label>Fecha fin:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaFinRest, null, new { @class = "form-control", @name = "fechaFinRest", @id = "fechaFinRest", placeholder = "dd/MM/YYYY", @disabled = "disabled" })
                                    @*<input type="text" name="fechaFinRest" value="" class="form-control datepicker required">*@

                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <!-- FIN REST -->
                        <!-- HAB -->
                        <div class="col-md-12" style="margin-top: 25px;">

                        </div>


                        <div class="col-md-12">

                            <div class="col-xs-4">
                                <label>Seleccione Habitación</label>
                                <select class="form-control" id="cbHab" disabled>
                                    <option id="cbHab-00" value="00">Cargando...</option>
                                </select>
                            </div>

                            <div class="col-xs-4">
                                <label>Fecha Inicio:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaIniHabi, null, new { @class = "form-control ", @name = "fechaIniHabi", @id = "fechaIniHabi", placeholder = "dd/MM/YYYY", @disabled = "disabled" })
                                    @*<input type="text" name="fechaIniHabi" value="" class="form-control datepicker required">*@

                                </div>
                                <!-- /.input group -->
                            </div>

                            <div class="col-xs-4">
                                <label>Fecha fin:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaFinHabi, null, new { @class = "form-control", @name = "fechaFinHabi", @id = "fechaFinHabi", placeholder = "dd/MM/YYYY", @disabled = "disabled" })
                                    @*<input type="text" name="fechaFinHabi" value="" class="form-control datepicker required">*@

                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <!-- FIN HAB -->
                        <!-- CRUCERO -->
                        <div class="col-md-12" style="margin-top: 25px;">

                        </div>


                        <div class="col-md-12">

                            <div class="col-xs-4">
                                <label>Seleccione Crucero</label>
                                <select class="form-control" id="cbCrucero" disabled>
                                    <option id="cbCrucero-00" value="00">Cargando...</option>
                                </select>
                            </div>

                            <div class="col-xs-4">
                                <label>Fecha Inicio:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaIniCruc, null, new { @class = "form-control", @name = "fechaIniCruc", @id = "fechaIniCruc", placeholder = "dd/MM/YYYY", @disabled = "disabled" })
                                    @*<input type="text" name="fechaIniCruc" value="" class="form-control datepicker required">*@

                                </div>
                                <!-- /.input group -->
                            </div>

                            <div class="col-xs-4">
                                <label>Fecha fin:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaFinCruc, null, new { @class = "form-control ", @name = "fechaFinCruc", @id = "fechaFinCruc", placeholder = "dd/MM/YYYY", @disabled = "disabled" })
                                    @*<input type="text" name="fechaFinCruc" value="" class="form-control datepicker required">*@

                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <!-- FIN CRUCERO -->
                        <!-- VUELO -->
                        <div class="col-md-12" style="margin-top: 25px;">

                        </div>


                        <div class="col-md-12">

                            <div class="col-xs-4">
                                <label>Seleccione Vuelo</label>
                                <select class="form-control" id="cbVuelo" disabled>
                                    <option id="cbVuelo-00" value="00">Cargando...</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label>Fecha Inicio:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaIniVuelo, null, new { @class = "form-control", @name = "fechaIniVuelo", @id = "fechaIniVuelo", placeholder = "dd/MM/YYYY", @disabled = "disabled" })
                                    @*<input type="text" name="fechaIniVuelo" value="" class="form-control datepicker required">*@

                                </div>
                                <!-- /.input group -->
                            </div>

                            <div class="col-xs-4">
                                <label>Fecha fin:</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    @Html.TextBoxFor(m => m._fechaFinVuelo, null, new { @class = "form-control", @name = "fechaFinVuelo", @id = "fechaFinVuelo", placeholder = "dd/MM/YYYY", @disabled = "disabled" })
                                    @*<input type="text" name="fechaFinVuelo" value="" class="form-control datepicker required">*@

                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <!-- FIN CRUCERO -->

                        <div class="col-md-12" style="margin-top: 25px;">

                            <div class="col-xs-4">
                                <label>Precio del paquete (<span style="color:red">*</span>):</label>
                                <input type="number" class="form-control" id="precioPaq" disabled>
                            </div>
                        </div>


                        <div class="col-md-12" style="margin-top:10px;">
                            <div class="col-md-4"></div>
                            <div class="col-md-2">
                                <button type="button" id="btnCrearPaquete" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Guardar</button>
                            </div>
                            <div class="col-md-2">
                                <button id="btnVolver" type="button" class="btn btn-danger" style="display:block; margin-left:auto; margin-right:auto;">Cancelar</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.row -->
    <!------------------- FIN DE SECCION DE AGREGAR PAQUETE ---------------->
    <script language="javascript" type="text/javascript">
        getAutomovilesFromDB();
        getRestaurantesFromDB();
        getHotelesFromDB();
        getCrucerosFromDB();
        getVuelosFromDB();


        var idPaquete = $("#idPaquete").val();



        var contador = 0;

        function getAutomovilesFromDB() {
            $.ajax(
               {
                   url: '/gestion_ofertas/M11_ListarAutomoviles',
                   type: 'POST',
                   success: function (data) {
                       cargarAutosCB(data);
                   },
                   error: function (jqXHR, textStatus, errorThrown) {
                       alert(errorThrown);
                   }
               });
        }

        function cargarAutosCB(data) {
            for (var i in data) {
                var idAuto = data[i]._matricula;
                var fabricante = data[i]._fabricante;
                var modelo = data[i]._modelo;
                $("#cbAuto").append('<option value="' + idAuto + '">' + fabricante + " " + modelo + '</option>');
            }
            $("#cbAuto-00").text("Seleccione Automóvil");
            getSelectedPaqueteInfo();
        }

        function getRestaurantesFromDB() {
            $.ajax(
               {
                   url: '/gestion_ofertas/M11_ListarRestaurantes',
                   type: 'POST',
                   success: function (data) {
                       cargarRestaurantesCB(data);
                   },
                   error: function (jqXHR, textStatus, errorThrown) {
                       alert(errorThrown);
                   }
               });
        }

        function cargarRestaurantesCB(data) {
            for (var i in data) {
                var idRest = data[i]._id;
                var nombreRest = data[i]._nombre;
                $("#cbRest").append('<option value="' + idRest + '">' + nombreRest + '</option>');
            }
            $("#cbRest-00").text("Seleccione Restaurante");
            getSelectedPaqueteInfo();
        }

        function getHotelesFromDB() {
            $.ajax(
               {
                   url: '/gestion_ofertas/M11_ListarHoteles',
                   type: 'POST',
                   success: function (data) {
                       cargarHotelesCB(data);
                   },
                   error: function (jqXHR, textStatus, errorThrown) {
                       alert(errorThrown);
                   }
               });
        }

        function cargarHotelesCB(data) {
            for (var i in data) {
                var idHotel = data[i]._id;
                var nombreHotel = data[i]._nombre;
                $("#cbHab").append('<option value="' + idHotel + '">' + nombreHotel + '</option>');
            }
            $("#cbHab-00").text("Seleccione Hotel");
            getSelectedPaqueteInfo();
        }

        function getCrucerosFromDB() {
            $.ajax(
               {
                   url: '/gestion_ofertas/M11_ListarCruceros',
                   type: 'POST',
                   success: function (data) {
                       cargarCrucerosCB(data);
                   },
                   error: function (jqXHR, textStatus, errorThrown) {
                       alert(errorThrown);
                   }
               });
        }

        function cargarCrucerosCB(data) {
            for (var i in data) {
                var idCrucero = data[i]._id;
                var nombreCrucero = data[i]._nombre;
                $("#cbCrucero").append('<option value="' + idCrucero + '">' + nombreCrucero + '</option>');
            }
            $("#cbCrucero-00").text("Seleccione Crucero");
            getSelectedPaqueteInfo();
        }

        function getVuelosFromDB() {
            $.ajax(
               {
                   url: '/gestion_ofertas/M11_ListarVuelos',
                   type: 'POST',
                   success: function (data) {
                       cargarVuelosCB(data);
                   },
                   error: function (jqXHR, textStatus, errorThrown) {
                       alert(errorThrown);
                   }
               });
        }

        function cargarVuelosCB(data) {
            for (var i in data) {
                var idVuelo = data[i]._id;
                var codigoVuelo = data[i]._codigoVuelo;
                var origen = data[i]._nombreSalida;
                var destino = data[i]._nombreLlegada;
                $("#cbVuelo").append('<option value="' + idVuelo + '">' + codigoVuelo + " - " + origen + " - " + destino + '</option>');
            }
            $("#cbVuelo-00").text("Seleccione Vuelo");
            getSelectedPaqueteInfo();
        }


        function getSelectedPaqueteInfo() {
            if (contador >= 4) {
                $.ajax(
               {
                   url: '/gestion_ofertas/infoPaquete',
                   type: 'POST',
                   data: { 'paqueteIdStr': idPaquete },
                   success: function (data) {
                       setSelectedInfo(data);

                   },
                   error: function (jqXHR, textStatus, errorThrown) {
                       alert(errorThrown);
                   }
               });
            }
            else {
                contador++;
            }

        }

        function formatDate(dateJson) {
            var dateString = dateJson.substr(6);
            var myDate = new Date(parseInt(dateString));
            var year = myDate.getFullYear();
            var month = myDate.getMonth() + 1;
            if (month <= 9)
                month = '0' + month;
            var day = myDate.getDate();
            if (day <= 9)
                day = '0' + day;
            var date = day + '/' + month + '/' + year;
            return (date)
        }

        function setSelectedInfo(data) {
            var idAuto = data._idAuto;
            var idHotel = data._idHabitacion;
            var idCrucero = data._idCrucero;
            var idRestaurante = data._idRestaurante;
            var idVuelo = data._idVuelo;
            var nombrePaq = data._nombrePaquete;
            var precioPaq = data._precioPaquete;
            console.log(data);

            if (idAuto == "")
                $("#cbAuto").val("00");
            else
                $("#cbAuto").val(idAuto);

            if (idRestaurante == null)
                $("#cbRest").val("00");
            else
                $("#cbRest").val(idRestaurante);

            if (idHotel == null)
                $("#cbHab").val("00");
            else
                $("#cbHab").val(idHotel);

            if (idCrucero == null)
                $("#cbCrucero").val("00");
            else
                $("#cbCrucero").val(idCrucero);


            if (idVuelo == null)
                $("#cbVuelo").val("00");
            else
                $("#cbVuelo").val(idVuelo);


            if (data._fechaIniAuto != null)
                $("#fechaIniAuto").val(formatDate(data._fechaIniAuto));

            if (data._fechaIniCruc != null)
                $("#fechaIniCruc").val(formatDate(data._fechaIniCruc));

            if (data._fechaIniVuelo != null)
                $("#fechaIniVuelo").val(formatDate(data._fechaIniVuelo));

            if (data._fechaIniHabi != null)
                $("#fechaIniHabi").val(formatDate(data._fechaIniHabi));

            if (data._fechaIniRest != null)
                $("#fechaIniRest").val(formatDate(data._fechaIniRest));

            if (data._fechaFinAuto != null)
                $("#fechaFinAuto").val(formatDate(data._fechaFinAuto));

            if (data._fechaFinCruc != null)
                $("#fechaFinCruc").val(formatDate(data._fechaFinCruc));

            if (data._fechaFinVuelo != null)
                $("#fechaFinVuelo").val(formatDate(data._fechaFinVuelo));

            if (data._fechaFinHabi != null)
                $("#fechaFinHabi").val(formatDate(data._fechaFinHabi));

            if (data._fechaFinRest != null)
                $("#fechaFinRest").val(formatDate(data._fechaFinRest));

            $("#fechaFinVuelo").prop('disabled', false);
            $("#fechaFinCruc").prop('disabled', false);
            $("#fechaFinAuto").prop('disabled', false);
            $("#fechaFinVuelo").prop('disabled', false);
            $("#fechaFinHabi").prop('disabled', false);
            $("#fechaFinRest").prop('disabled', false);


            $("#fechaIniVuelo").prop('disabled', false);
            $("#fechaIniCruc").prop('disabled', false);
            $("#fechaIniAuto").prop('disabled', false);
            $("#fechaIniVuelo").prop('disabled', false);
            $("#fechaIniHabi").prop('disabled', false);
            $("#fechaIniRest").prop('disabled', false);


            $("#nombrePaq").val(nombrePaq);
            $("#nombrePaq").prop('disabled', false);

            $("#precioPaq").val(precioPaq);
            $("#precioPaq").prop('disabled', false);


            $("#cbAuto").prop('disabled', false);


            $("#cbHab").prop('disabled', false);


            $("#cbRest").prop('disabled', false);


            $("#cbVuelo").prop('disabled', false);


            $("#cbCrucero").prop('disabled', false);

        }



        $("#btnCrearPaquete").click(function (e) {
            e.preventDefault();
            if (validarCamposVacios() && validarAlMenosUno() && validarEstarFechas() && compararFechas()) {
                var form = $("#formGuardarOferta");
                var idAuto = $("#cbAuto").val();
                var idHotel = $("#cbHab").val();
                var idCrucero = $("#cbCrucero").val();
                var idRestaurante = $("#cbRest").val();
                var idVuelo = $("#cbVuelo").val();
                var fiAuto = $("#fechaIniAuto").val();
                var ffAuto = $("#fechaFinAuto").val();
                var fiHotel = $("#fechaIniHabi").val();
                var ffHotel = $("#fechaFinHabi").val();
                var fiCrucero = $("#fechaIniCruc").val();
                var ffCrucero = $("#fechaFinCruc").val();
                var fiRestaurante = $("#fechaIniRest").val();
                var ffRestaurante = $("#fechaFinRest").val();
                var fiVuelo = $("#fechaIniVuelo").val();
                var ffVuelo = $("#fechaFinVuelo").val();
                var precio = $("#precioPaq").val();
                var nombrePaq = $("#nombrePaq").val();

                if (nombrePaq == "" || precio == "") {
                    alert("Campo requerido vacio");
                    return false;
                }


                $.ajax({
                    url: "gestion_ofertas/modificarPaquete",
                    data: {
                        'nombrePaq': nombrePaq, 'idAuto': idAuto, 'idHotel': idHotel, 'idCrucero': idCrucero, 'idRestaurante': idRestaurante,
                        'idVuelo': idVuelo, 'fiAuto': fiAuto, 'ffAuto': ffAuto, 'fiHotel': fiHotel, 'ffHotel': ffHotel, 'fiCrucero': fiCrucero, 'ffCrucero': ffCrucero,
                        'fiRestaurante': fiRestaurante, 'ffRestaurante': ffRestaurante, 'fiVuelo': fiVuelo, 'ffVuelo': ffVuelo, 'precio': precio, 'idPaquete': idPaquete
                    },
                    //data: { 'nombreOferta': $("#nombreOferta").val(), 'fInicio': $("#fInicio").val(), 'fFin': $("#fFin").val(), 'porcentajeOferta': $("#porcentajeOferta").val() },
                    type: 'POST',
                    success: function (data) {
                        alert("El paquete ha sido modificado exitosamente");
                        irVisualizar();
                    }
                    , error: function (xhr, textStatus, exceptionThrown) {
                        //muestro el texto del error
                        alert(xhr.responseText);
                    }
                });
            }

        });

        //Valida que existan fecha inicio y fin del item seleccionado
        function validarEstarFechas() {
            if ($("#cbAuto").val() != "00") {
                if (($("#fechaIniAuto").val() == "") || ($("#fechaFinAuto").val() == "")) {
                    alert('Los elementos deben tener fecha inicio y fecha fin!');
                    return false;
                }
            }
            if ($("#cbRest").val() != "00") {
                if (($("#fechaIniRest").val() == "") || ($("#fechaFinRest").val() == "")) {
                    alert('Los elementos deben tener fecha inicio y fecha fin!');
                    return false;
                }
            }
            if ($("#cbHab").val() != "00") {
                if (($("#fechaIniHabi").val() == "") || ($("#fechaFinHabi").val() == "")) {
                    alert('Los elementos deben tener fecha inicio y fecha fin!');
                    return false;
                }
            }
            if ($("#cbCrucero").val() != "00") {
                if (($("#fechaIniCruc").val() == "") || ($("#fechaFinCruc").val() == "")) {
                    alert('Los elementos deben tener fecha inicio y fecha fin!');
                    return false;
                }
            }
            if ($("#cbVuelo").val() != "00") {
                if (($("#fechaIniVuelo").val() == "") || ($("#fechaFinVuelo").val() == "")) {
                    alert('Los elementos deben tener fecha inicio y fecha fin!');
                    return false;
                }
            }
            return true;
        }

        //Valida que el usuario haya agregado al menos un item al paquete
        function validarAlMenosUno() {
            if ($("#cbAuto").val() != "00") {
                return true;
            }
            if ($("#cbRest").val() != "00") {
                return true;
            }
            if ($("#cbHab").val() != "00") {
                return true;
            }
            if ($("#cbCrucero").val() != "00") {
                return true;
            }
            if ($("#cbVuelo").val() != "00") {
                return true;
            }
            alert('Debe agregar al menos un elemento al paquete!');
            return false;
        }

        //Valida que el nombre y precio no esten vacios
        function validarCamposVacios() {
            if (($("#nombrePaq").val() == "") || ($("#nombrePaq").val() == "")) {
                alert('Debes llenar el nombre y precio del paquete!');
                return false;
            }
            return true;
        }
        //Compara todas las fechas introducidas
        function compararFechas() {
            if ($("#cbAuto").val() != "00") {
                if (!validarFechas($("#fechaIniAuto").val(), $("#fechaFinAuto").val())) {
                    alert('La fecha fin debe ser mayor que la fecha inicio!');
                    return false;
                }
            }
            if (!validarFechas($("#fechaIniRest").val(), $("#fechaFinRest").val())) {
                alert('La fecha fin debe ser mayor que la fecha inicio!');
                return false;
            }
            if (!validarFechas($("#fechaIniHabi").val(), $("#fechaFinHabi").val())) {
                alert('La fecha fin debe ser mayor que la fecha inicio!');
                return false;
            }
            if (!validarFechas($("#fechaIniCruc").val(), $("#fechaFinCruc").val())) {
                alert('La fecha fin debe ser mayor que la fecha inicio!');
                return false;
            }
            if (!validarFechas($("#fechaIniVuelo").val(), $("#fechaFinVuelo").val())) {
                alert('La fecha fin debe ser mayor que la fecha inicio!');
                return false;
            }
            return true;
        }

        //Valida que la fecha inicio sea mayor que la fecha fin
        function validarFechas(fi, ff) {
            if ((new Date(fi).getTime() > new Date(ff).getTime())) {
                return false;
            }
            return true;
        }

        $("#btnVolver").click(function (e) {
            e.preventDefault();
            irVisualizar();
        });

        function irVisualizar() {
            var url = '/gestion_ofertas/M11_VisualizarPaquete';
            var method = 'GET';
            var data = '';

            $.ajax(
                {
                    url: url,
                    type: method,
                    data: data,
                    success: function (data, textStatus, jqXHR) {

                        $("#contenido").empty();
                        $("#contenido").append(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
        }

    </script>
