

<div class="row">
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Aviones</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Matricula</th>
                            <th>Modelo</th>
                            <th>Capacidad Turista/Ejecutiva/VIP</th>
                            @*<th>Capacidad Clase Ejecutiva</th>
                            <th>Capacidad Clase VIP</th>*@
                            <th>Equipaje (Kg)</th>
                            <th>Distancia Máxima(Km)</th>
                            <th>Velocidad Máxima(Km/h)</th>
                            <th>Combustible (L)</th>
                            <th>Disponibilidad</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
                        {
                            foreach (var item in Model)
                            {
                                String disponibilidad;
                                if (item._disponibilidad == 1) { disponibilidad = "Disponible"; } else { disponibilidad = "No disponible"; }

                                <tr id="@item._matricula">
                                    <td>@item._matricula</td>
                                    <td>@item._modelo</td>
                                    <td>@item._capacidadTurista / @item._capacidadEjecutiva / @item._capacidadVIP </td>
                                    @*<td>@item._capacidadEjecutiva</td>
                                    <td>@item._capacidadVIP</td>*@
                                    <td>@item._capacidadEquipaje</td>
                                    <td>@item._distanciaMaximaVuelo</td>
                                    <td>@item._velocidadMaxima</td>
                                    <td>@item._capacidadCombustible</td>
                                    <td>@disponibilidad</td>
                                    <td>
                                        <a href="#"> <i class="fa fa-eye clasedeprueba"></i></a>
                                        <a href="#"><i class="fa fa-gear modificar"></i></a>
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                        catch
                        {

                        }

                    <tfoot>
                        <tr>
                            <th>Matricula</th>
                            <th>Modelo</th>
                            <th>Capacidad Clase Turista</th>
                            @*<th>Capacidad Clase Ejecutiva</th>
                            <th>Capacidad Clase VIP</th>*@
                            <th>Capacidad de Equipaje (Kg)</th>
                            <th>Distancia Máxima de Vuelo (Km)</th>
                            <th>Velocidad Máxima de Vuelo (Km/h)</th>
                            <th>Capacidad Máxima de Combustible (L)</th>
                            <th>Disponibilidad</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<script>

    $("#m08_VisualizarAutomovil").click(function (e) {
        e.preventDefault();
        var url = '/gestion_automoviles/M08_VisualizarAutomovil';
        var method = 'GET';
        var data = '';

        $.ajax(
            {
                url: url,
                type: method,
                data: data,
                success: function (data, textStatus, jqXHR) {

                    $("#contenido").empty();
                    $("#contenido").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

    });


    $("#m08_ModificarAutomovil").click(function (e) {
        e.preventDefault();
        var url = '/gestion_automoviles/M08_ModificarAutomovil';
        var method = 'GET';
        var data = '';

        $.ajax(
            {
                url: url,
                type: method,
                data: data,
                success: function (data, textStatus, jqXHR) {

                    $("#contenido").empty();
                    $("#contenido").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

    });

</script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //e.preventDefault();
        $(".clasedeprueba").click(function () {
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "GET",
                url: "/gestion_automoviles/M08_VisualizarAutomovil",
                data: { matricula: identificador }//valor = es el nombre q recibes en el método es decir public ActionResult M08_VisualizarAutomoviles(string valor)
            }).done(function (data) {
                //$("#sdssss").append(data);

                $("#contenido").empty();
                $("#contenido").append(data);
            }).fail(function () {
                alert("esta vaina se jodio")
            });


        });
    });

    $(document).ready(function () {
        //e.preventDefault();
        $(".modificar").click(function () {
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "GET",
                url: "/gestion_automoviles/M08_ModificarAutomovil",
                data: { matricula: identificador }//valor = es el nombre q recibes en el método es decir public ActionResult M08_VisualizarAutomoviles(string valor)
            }).done(function (data) {
                //$("#sdssss").append(data);

                $("#contenido").empty();
                $("#contenido").append(data);
            }).fail(function () {
                alert("esta vaina se jodio")
            });


        });


    });
</script>

