
<div class="row">
    <link rel="stylesheet" href="~/Content/plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Lista de Reclamos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Título</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try
{
                            
    foreach (var item in Model)
    {
        <tr id="@item._id">
            <td>@item._fechaReclamo</td>
            <td>@item._tituloReclamo</td>
            <td>
                @if (@item._estadoReclamo == 1)
                {
                    <span class="label label-success ">Iniciado</span>
                }
                @if (@item._estadoReclamo == 2)
                {
                    <span class="label label-primary ">Procesado</span>
                }
                @if (@item._estadoReclamo == 3)
                {
                    <span class="label label-warning ">Culminado</span>
                }
                @if (@item._estadoReclamo == 4)
                {
                    <span class="label label-danger ">Cerrado</span>
                }            
            </td>
            <td>
                                        <a href="#" title="Consultar"><i class="fa fa-eye detalle"></i></a>
                @if (item._usuario == item._usuario) 
                { 
                <a href="#" title="Modificar"><i class="fa fa-pencil modificar"></i></a>
                <a href="#" title="Eliminar"><i class="fa fa-times eliminar"></i></a>
                }
            </td>

            <script>

             
                $(".modificar").click(function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    var identificador = $(this).parent().parent().parent().attr("id");
                    jQuery.ajax({
                        type: "GET",
                        url: "/gestion_reclamos/M16_ModificarReclamo",
                        data: { idReclamo: identificador }
                    }).done(function (data) {
                        $("#contenido").empty();
                        $("#contenido").append(data);
                    }).fail(function (data) {
                        alert(data);
                        console.log(data);
                    });


                });

                $(".detalle").click(function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    var identificador = $(this).parent().parent().parent().attr("id");
                    jQuery.ajax({
                        type: "GET",
                        url: "/gestion_reclamos/M16_DetalleReclamo",
                        data: { idReclamo: identificador }
                    }).done(function (data) {
                        $("#contenido").empty();
                        $("#contenido").append(data);
                    }).fail(function (data) {
                        alert(data);
                        console.log(data);
                    });
                });



                $(".eliminar").click(function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    var identificador = $(this).parent().parent().parent().attr("id");
                    console.log(identificador);
                    jQuery.ajax({
                        type: "POST",
                        url: "/gestion_reclamos/eliminarReclamo",
                        data: { idReclamo: identificador }
                    }).done(function (data) {
                        var url = '/gestion_reclamos/M16_VisualizarReclamo';
                        var method = 'GET';
                        var data = '';
                        $.ajax(
                            {
                                url: url,
                                type: method,
                                data: data,
                                success: function (data, textStatus, jqXHR) {

                                    $("#contenido").empty();
                                    $("#contenido").append(data);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(errorThrown);
                                }
                            });
                    }).fail(function (data) {
                        console.log(data);
                        alert(data.responseText);
                    });


                });

                $(".label-success").click(function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    var identificador = $(this).parent().parent().attr("id");
                    var cambioEstado = 2;
                    console.log(identificador);
                    jQuery.ajax({
                        type: "POST",
                        url: "/gestion_reclamos/actualizarReclamo",
                        data: { idReclamo: identificador, estado: cambioEstado}
                    }).done(function (data) {
                        var url = '/gestion_reclamos/M16_VisualizarReclamo';
                        var method = 'GET';
                        var data = '';
                        $.ajax(
                            {
                                url: url,
                                type: method,
                                data: data,
                                success: function (data, textStatus, jqXHR) {

                                    $("#contenido").empty();
                                    $("#contenido").append(data);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(errorThrown);
                                }
                            });
                    }).fail(function (data) {
                        console.log(data);
                        alert(data.responseText);
                    });


                });

                $(".label-primary").click(function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    var identificador = $(this).parent().parent().attr("id");
                    var cambioEstado = 3;
                    console.log(identificador);
                    jQuery.ajax({
                        type: "POST",
                        url: "/gestion_reclamos/actualizarReclamo",
                        data: { idReclamo: identificador, estado: cambioEstado }
                    }).done(function (data) {
                        var url = '/gestion_reclamos/M16_VisualizarReclamo';
                        var method = 'GET';
                        var data = '';
                        $.ajax(
                            {
                                url: url,
                                type: method,
                                data: data,
                                success: function (data, textStatus, jqXHR) {

                                    $("#contenido").empty();
                                    $("#contenido").append(data);
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(errorThrown);
                                }
                            });
                    }).fail(function (data) {
                        console.log(data);
                        alert(data.responseText);
                    });


                });

                $(".label-warning").click(function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    var identificador = $(this).parent().parent().attr("id");
                    var cambioEstado = 4;
                    console.log(identificador);
                    jQuery.ajax({
                        type: "POST",
                        url: "/gestion_reclamos/actualizarReclamo",
                        data: { idReclamo: identificador, estado: cambioEstado }
                    }).done(function (data) {
                        var url = '/gestion_reclamos/M16_VisualizarReclamo';
                        var method = 'GET';
                        var data = '';
                        $.ajax(
                            {
                                url: url,
                                type: method,
                                data: data,
                                success: function (data, textStatus, jqXHR) {

                                    $("#contenido").empty();
                                    $("#contenido").append(data);

                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(errorThrown);
                                }
                            }).done(function (data) {
                                $('#' + id_fila).remove();
                            });
                    }).fail(function (data) {
                        console.log(data);
                        alert(data.responseText);
                    });


                });

            </script>

        </tr>
    }
}
catch
{
                            <script>
                                   alert("Error en el listado, por favor intente nuevamente");
                            </script>
                        }

                    <tfoot>
                        <tr>
                            <th>Fecha</th>
                            <th>Título</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->


<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script language="javascript" type="text/javascript">

    table = $('#example1').DataTable();

</script>
