@model BOReserva.Models.gestion_reclamos.CModificarReclamo

<script src="~/Scripts/Scripts_Aviones/llamadas_generales.js"></script>

@using (Html.BeginForm("modificarReclamo", "gestion_reclamos", null, FormMethod.Post, new { @id = "formModificarReclamo", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class="box-body">
                    <h2 class="box-title"> Modificar Reclamo</h2>
                    <div class="row">
                        <div class="col-md-12">

                            <div>
                                &nbsp;
                                <div class="col-md-12">
                                    @Html.HiddenFor(m => m._idReclamo, new { @id = "idReclamo" })

                                    <div class="col-xs-6">
                                        <label for="tituloReclamo">T&iacutetulo (<span style="color:red">*</span>):</label>
                                        @Html.TextBoxFor(m => m._tituloReclamo, null, new { @class = "form-control", @placeholder = "Reclamo de una maleta", @id = "tituloReclamo"})
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="fecharegistro">Fecha del Suceso (<span style="color:red">*</span>)</label>
                                        @Html.TextBoxFor(m => m._fechaReclamo, null, new { @class = "form-control", @placeholder = "Fecha del Suceso", @id = "fechaReclamo", @readonly = "readonly"})
                                    </div>                               
                                 </div>
                            </div>
                            &nbsp;
                            <div class="col-md-12">
                                <div class="col-xs-6">
                                    <label for="descripcionReclamo">Descripci&oacuten (<span style="color:red">*</span>):</label>
                                    @Html.TextAreaFor(m => m._detalleReclamo, 3, 3, new { @class = "form-control", @placeholder = "Escriba aquí el detalle del reclamo...", @id = "detalleReclamo" })
                                </div>

                                @*<div class="col-xs-6">
                                    <label for="estadoReclamo">Estado(<span style="color:red">*</span>)</label>
                                    @{    List<SelectListItem> _estadoReclamo = new List<SelectListItem>();
                                          _estadoReclamo.Add(new SelectListItem
                                          {
                                              Text = "Iniciado",
                                              Value = "1"
                                          });
                                            _estadoReclamo.Add(new SelectListItem
                                                {
                                                    Text = "Procesado",
                                                    Value = "2"
                                                });
                                            _estadoReclamo.Add(new SelectListItem
                                            {
                                                Text = "Culminado",
                                                Value = "3"
                                            });
                                            _estadoReclamo.Add(new SelectListItem
                                            {
                                                Text = "Cerrado",
                                                Value = "4"
                                            });
                                      }
                                    @Html.DropDownListFor(m => m._estadoReclamo, _estadoReclamo, new { @class = "form-control", @placeholder = "Estado", @id = "estadoReclamo" })
                                </div>*@
                                
                            </div>

                            <div>
                                &nbsp;
                                <div class="col-md-12"> </div>
                              </div>
                            </div>

                            <div>&nbsp;</div>
                            <div class="col-md-12" style="margin-top:10px;">
                                <div class="col-md-4"></div>
                                <div class="col-md-2">
                                    <button type="button" id="modificarReclamo" class="btn btn-success" style="display:block; margin-left:auto; margin-right:auto;">Modificar</button>
                                </div>
                                <div class="col-md-2">
                                    <button id="regresar" type="button" class="btn btn-danger" style="display:block; margin-left:auto; margin-right:auto;">Cancelar</button>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
     
  
    <script>
    $("#modificarReclamo").click(function (e) {
        e.preventDefault();
        var form = $("#formModificarReclamo");
        $.ajax({
            url: "gestion_reclamos/modificarReclamo",
            data: form.serialize(),
            type: 'POST',
            success: function (data) {
                alert("Se ha modificado exitosamente su reclamo");
                //$('#formModifyVehicle')[0].reset();
                var url1 = '/gestion_reclamos/M16_VisualizarReclamo';
                var method = 'GET';
                var data1 = '';

                $.ajax(
                    {
                        url: url1,
                        type: method,
                        data: data,
                        success: function (data, textStatus, jqXHR) {
                            $("#contenido").empty();
                            $("#contenido").append(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
            }
        });
    });
    $("#regresar").click(function (e) {
        e.preventDefault();
        alert("entro aquí en el regresar")
        var url = '/gestion_reclamos/M16_VisualizarReclamo';
        var method = 'GET';
        var data = '';
        alert("Se esta procesando tu solicitud, por favor espere");
        $.ajax(
            {
                url: url,
                type: method,
                data: data,
                success: function (data, textStatus, jqXHR) {
                    $("#contenido").empty();
                    $("#contenido").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
    });
     </script>
}
<!------------------- FIN DE SECCION DE MODIFICAR RECLAMO---------------->
