

<div class="row">
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title" style="font-size:32px;">Lista de Automoviles</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Matricula</th>
                            <th>Marca / Modelo</th>
                            <th>Clase / Capacidad</th>
                            <th>Tipo / Color </th>
                            <th>Disponibilidad / Tarifa</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @try{
                            foreach (var item in Model)
                            {
                                String disponibilidad;
                                if (item._disponibilidad == 1) { disponibilidad = "Disponible";} else { disponibilidad = "No disponible";}
                                
                                <tr id="@item._matricula">
                                    <td>@item._matricula.ToUpper()</td>
                                    <td>@item._fabricante / @item._modelo</td>
                                    <td>@item._tipovehiculo / @item._cantpasajeros</td>
                                    <td>@item._transmision / @item._color</td>
                                    <td>@disponibilidad / @item._precioalquiler USD</td>
                                    <td>
                                        <a href="#" title="Visualizar vehículo"> <i class="fa fa-eye clasedeprueba"></i></a>
                                        <a href="#" title="Modificar vehículo"><i class="fa fa-pencil modificar"></i></a>
                                        <a href="#" title="Eliminar vehículo"><i class="fa fa-times eliminar"></i></a>
                                        @{
                                            if (item._disponibilidad == 1)
                                            {
                                                <a href="#" title="Activar/Desactivar vehículo"><i class="fa fa-toggle-on desactivar"></i></a>
                                            }  
                                            if (item._disponibilidad == 0)
                                            {
                                                <a href="#" title="Activar/Desactivar vehículo"><i class="fa fa-toggle-off activar"></i></a>
                                            }  
                                        }
                                    </td>
                                </tr>
                            }
                        }catch (Exception e){
                            Response.Write("<script>alert('No hay vehiculos para mostrar');</script>");
                        }
                        
                    <tfoot>
                        <tr>
                            <th>Matricula</th>
                            <th>Marca / Modelo</th>
                            <th>Clase / Capacidad</th>
                            <th>Tipo / Color </th>
                            <th>Disponibilidad / Tarifa</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<script>

    $("#m08_VisualizarAutomovil").click(function (event) {
        event.preventDefault();
        event.stopPropagation();
        event.stopImmediatePropagation();
        var url = '/gestion_automoviles/M08_VisualizarAutomovil';
        var method = 'GET';
        var data = '';

        $.ajax(
            {
                url: url,
                type: method,
                data: data,
                success: function (data, textStatus, jqXHR) {

                    $("#contenido").empty();
                    $("#contenido").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

    });


    $("#m08_ModificarAutomovil").click(function (e) {
        e.preventDefault();
        var url = '/gestion_automoviles/M08_ModificarAutomovil';
        var method = 'GET';
        var data = '';

        $.ajax(
            {
                url: url,
                type: method,
                data: data,
                success: function (data, textStatus, jqXHR) {

                    $("#contenido").empty();
                    $("#contenido").append(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

    });

</script>

<!-- DataTables -->
<script src="../../Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../Content/plugins/datatables/dataTables.bootstrap.min.js"></script>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //e.preventDefault();


        $(".clasedeprueba").on("click", (function () {

            alert("Se esta procesando tu solicitud, por favor espere");
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "GET",
                url: "/gestion_automoviles/M08_VisualizarAutomovil",
                data: { matricula: identificador }//valor = es el nombre q recibes en el método es decir public ActionResult M08_VisualizarAutomoviles(string valor)
            }).done(function (data) {
                $("#contenido").empty();
                $("#contenido").append(data);
            }).fail(function () {
                alert("Error, por favor refresque la pagina")
            });
        }));
    });

    $(document).ready(function () {
        //e.preventDefault();
        $(".modificar").click(function () {
            alert("Se esta procesando tu solicitud, por favor espere");
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "GET",
                url: "/gestion_automoviles/M08_ModificarAutomovil",
                data: { matricula: identificador }//valor = es el nombre q recibes en el método es decir public ActionResult M08_VisualizarAutomoviles(string valor)
            }).done(function (data) {
                //$("#sdssss").append(data);

                $("#contenido").empty();
                $("#contenido").append(data);
            }).fail(function () {
                alert("Error, por favor refresque la pagina")
            });
        });
    });

    $(document).ready(function () {
        //e.preventDefault();
        $(".eliminar").click(function () {
            alert("Se esta procesando tu solicitud, por favor espere");
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "POST",
                url: "/gestion_automoviles/deleteVehicle",
                data: { matricula: identificador }//valor = es el nombre q recibes en el método es decir public ActionResult M08_VisualizarAutomoviles(string valor)
            }).done(function (data) {
                if (data === "1") {

                    //$("#sdssss").append(data);
                    var url1 = '/gestion_automoviles/M08_VisualizarAutomoviles';
                    var method = 'GET';
                    var data1 = '';

                    $.ajax(
                        {
                            url: url1,
                            type: method,
                            data: data,
                            success: function (data, textStatus, jqXHR) {

                                $("#contenido").empty();
                                $("#contenido").append(data);
                                alert("Se elimino exitosamente el vehiculo");
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(errorThrown);
                            }
                        });
                } else if (data.includes("Reserva_Automovil")){
                    alert("No se puede eliminar este vehiculo porque tiene una reserva");
                } else {
                    alert(data);
                }
            }).fail(function () {
                alert("Error, por favor refresque la pagina")
            });
        });
    });

    $(document).ready(function () {
        //e.preventDefault();
        $(".activar").click(function () {
            alert("Se esta procesando tu solicitud, por favor espere");
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "POST",
                url: "/gestion_automoviles/activateVehicle",
                data: { matricula: identificador }//valor = es el nombre q recibes en el método es decir public ActionResult M08_VisualizarAutomoviles(string valor)
                    
                     
            }).done(function (data) {
                if (data === "1") {

                    //$("#sdssss").append(data);
                    var url1 = '/gestion_automoviles/M08_VisualizarAutomoviles';
                    var method = 'GET';
                    var data1 = '';

                    $.ajax(
                        {
                            url: url1,
                            type: method,
                            data: data,
                            success: function (data, textStatus, jqXHR) {

                                $("#contenido").empty();
                                $("#contenido").append(data);
                                alert("Se cambio exitosamente el estatus del vehiculo");
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(errorThrown);
                            }
                        });
                } else {
                    alert(data);
                }
            }).fail(function () {
                alert("Error, por favor refresque la pagina")
            });
        });
    });


    $(document).ready(function () {
        //e.preventDefault();
        $(".desactivar").click(function () {
            alert("Se esta procesando tu solicitud, por favor espere");
            var identificador = $(this).parent().parent().parent().attr("id");
            jQuery.ajax({
                type: "POST",
                url: "/gestion_automoviles/deactivateVehicle",
                data: { matricula: identificador }//valor = es el nombre q recibes en el método es decir public ActionResult M08_VisualizarAutomoviles(string valor)
            }).done(function (data) {
                if (data === "1") {

                    //$("#sdssss").append(data);
                    var url1 = '/gestion_automoviles/M08_VisualizarAutomoviles';
                    var method = 'GET';
                    var data1 = '';

                    $.ajax(
                        {
                            url: url1,
                            type: method,
                            data: data,
                            success: function (data, textStatus, jqXHR) {

                                $("#contenido").empty();
                                $("#contenido").append(data);
                                alert("Se cambio exitosamente el estatus del vehiculo");
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert(errorThrown);
                            }
                        });
                } else {
                    alert(data);
                }
            }).fail(function () {
                alert("Error, por favor refresque la pagina")
            });
        });

        table = $('#example1').DataTable();

    });
</script>

