@model FOReserva.Models.Diarios.CDiarioModel

<div class="heading-title">
    <h3><span>Diarios de Viaje</span></h3>
</div>

<div class="panel">
    @using (Html.BeginForm("gestion_diarios_resultados", "gestion_diarios", null, FormMethod.Post, new { @id = "formBuscarDiarios", @class = "form-horizontal" }))
    {
        <fieldset>

            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Calificación del viajero</label>
                        @Html.DropDownListFor(m => m.Rating,
                            new List<SelectListItem>{
                                new SelectListItem{Value = "0", Text = "------ Elige una calificación mínima ------", Selected = true},
                                new SelectListItem{Value = "1", Text = "1+ estrellas"},
                                new SelectListItem{Value = "2", Text = "2+ estrellas"},
                                new SelectListItem{Value = "3", Text = "3+ estrellas"},
                                new SelectListItem{Value = "4", Text = "4+ estrellas"},
                                new SelectListItem{Value = "5", Text = "5  estrellas"}

                            },
                            new { @class = "col-md-12", @id = "califD" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Periodo de carga del diario</label>
                        <input id="rf" type="text" class="form-control" name="rangofecha" value="" readonly />

                    </div>

                    <!--Script para el selector de fechas-->
                    <script type="text/javascript">
                        //función para inicializar y dar formato
                        $('input[name="rangofecha"]').daterangepicker({
                            locale: {
                                format: "DD/MM/YYYY",
                                applyLabel: "Aplicar",
                                cancelLabel: "Cancelar",
                                fromLabel: "Desde",
                                toLabel: "Hasta",
                                linkedCalendars: false,
                                showDropdowns: true,
                                autoApply: true,
                                daysOfWeek: [
                                    "Do",
                                    "Lu",
                                    "Ma",
                                    "Mi",
                                    "Ju",
                                    "Vi",
                                    "Sa"
                                ],
                                monthNames: [
                                    "Enero",
                                    "Febrero",
                                    "Marzo",
                                    "Abril",
                                    "Mayo",
                                    "Junio",
                                    "Julio",
                                    "Agosto",
                                    "Septiembre",
                                    "Octubre",
                                    "Noviembre",
                                    "Diciembre"
                                ],
                                firstDay: 1
                            },
                            minDate: "31/12/2000",
                            maxDate: "@DateTime.Today.ToString("dd/MM/yyyy")",
                            startDate: "@DateTime.Today.AddYears(-10).ToString("dd/MM/yyyy")",
                            endDate: "@DateTime.Today.ToString("dd/MM/yyyy")"

                        });
                        //Actualizar los input que se usarán en el modelo
                        $("#rf").on('hide.daterangepicker', function () {
                            var drp = $('#rf').data('daterangepicker');
                            $("#f_ini").val(drp.startDate.format('YYYY-MM-DD')),
                            $("#f_fin").val(drp.endDate.format('YYYY-MM-DD'))
                        });

                    </script>

                    <!--Inputs ocultos de fechas para el formulario-->
                    @Html.TextBoxFor(m => m.Fecha_ini, null, new { @id = "f_ini", @class = "form-control required", @name = "diario[f_inicio]", @type = "hidden", @value = "" })
                    @Html.TextBoxFor(m => m.Fecha_fin, null, new { @id = "f_fin", @class = "form-control required", @name = "diario[f_fin]", @type = "hidden", @value = "" })
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Lugares</label>
                        @Html.DropDownListFor(m => m.Destino, Model.Lugares(), new { @class = "col-md-12", @id = "lugares" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>Ordenar por</label>
                        <label class="radio-inline"><input type="radio" value="0" name="orden">Recientes primero</label>
                        <label class="radio-inline"><input type="radio" value="1" name="orden">Antiguos primero</label>
                    </div>
                </div>
            </div>

            <!--Input que guarda el valor del radiobutton seleccionado-->
            @Html.TextBoxFor(m => m.Filtro, null, new { @id = "ordenInput", @class = "form-control required", @name = "dOrden", @type = "hidden" })

        </fieldset>
        <div class="row">
            <div class="row text-center col-sm-12">
                <button type="button" id="buscarDiarios" class="btn btn-primary">Buscar</button>
            </div>
            <div class="row text-center col-sm-12">
                <button onclick="location.href='@Url.Action("gestion_diarios_crear","gestion_diarios")'" type="button" id="crearDiario" class="btn btn-primary">Crear un Diario de Viaje</button>
            </div>
        </div>
        <hr />


    } <!--Fin FORM-->
</div>

<script>
    function cargarResultados(a) {
        $("#contenedorImagenes").html('<div class="text-center">Cargando...</div>')

        var form = $("#formBuscarDiarios");
        var contr = '/gestion_diarios/gestion_diarios_resultados';
        var datos;
        var metodo;
        if (a==0) {//Para la carga inicial de resultados
            datos = '';
            metodo = 'GET';
        } else {    //Para la carga con búsquedas de resultados
            datos = form.serialize();
            metodo = 'POST';
        }

        $.ajax({
            url: contr,
            type: metodo,
            data: datos,
            success: function (data) {
                $("#contenedorImagenes").empty();
                $("#contenedorImagenes").html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

    $("#buscarDiarios").click(function (e) { e.preventDefault(); cargarResultados(1); });      //Evento de click en el botón Buscar
    $("#formBuscarDiarios").submit(function (e) { e.preventDefault(); cargarResultados(1); }); //Evento general de submit (ej. presionar ENTER)

    $("#crearDiario").click(function (e) {
        e.preventDefault();
    });      //Evento de click en el botón Buscar


    jQuery(document).ready(function () {
        //Inicializar valores al cargar la página
        $("#f_ini").val("@DateTime.Today.AddYears(-10).ToString("yyyy-MM-dd")");
        $("#f_fin").val("@DateTime.Today.ToString("yyyy-MM-dd")");
        $("#ordenInput").val("-1");
        $('input[name=orden]:radio').change(function () {
            $("#ordenInput").val($('input[name=orden]:checked').val());
        });
        //cargarResultados(0);
    });
</script>