@model FOReserva.Models.Diarios.Cvista_Diarios

<div class="heading-title">
    <h3><span>Diarios de Viaje</span></h3>
</div>



@*<div class="row text-center">
        <a href="#"><button type="button" class="btn btn-default btn-lg"><i class="fa fa-book"></i>Crear un Diario de Viaje</button></a>
    </div>*@


<div class="row text-center">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i>Buscar</button>
    </div>
</div>


<section>
    <div class="container">

        <div class="row">
            <!-- item -->
            <div class="col-md-2">
                <!-- company logo -->
                <img src="@Url.Content("~/Content/assets/images/avatar2.jpg")" class="img-responsive" alt="company logo">
            </div>
            <div class="col-md-10">
                <!-- company detail -->
                <h4 class="margin-bottom-10"><font color="black">De exploración en Tailandia</font></h4>
                <p>Lorem ipsum eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                <button type="button" class="btn btn-primary">Ver el Diario Completo</button>
                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a>
            </div>
        </div><!-- /item -->

        <hr />

        <div class="row">
            <!-- item -->
            <div class="col-md-2">
                <!-- company logo -->
                <img src="@Url.Content("~/Content/assets/images/avatar2.jpg")" class="img-responsive" alt="company logo">
            </div>
            <div class="col-md-10">
                <!-- company detail -->
                <h4 class="margin-bottom-10"><font color="black">Dubai y su petroleo.</font></h4>
                <p>Lorem ipsum eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                <button type="button" class="btn btn-primary">Ver el Diario Completo</button>
                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a>
            </div>
        </div><!-- /item -->

        <hr />

        <div class="row">
            <!-- item -->
            <div class="col-md-2">
                <!-- company logo -->
                <img src="@Url.Content("~/Content/assets/images/avatar2.jpg")" class="img-responsive" alt="company logo">
            </div>
            <div class="col-md-10">
                <!-- company detail -->
                <h4 class="margin-bottom-10"><font color="black">No hay arepas en Caracas.</font></h4>
                <p>Lorem ipsum eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                <button type="button" class="btn btn-primary">Ver el Diario Completo</button>
                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a>
            </div>
        </div><!-- /item -->

        <hr />

        <div class="row">
            <!-- item -->
            <div class="col-md-2">
                <!-- company logo -->
                <img src="@Url.Content("~/Content/assets/images/avatar2.jpg")" class="img-responsive" alt="company logo">
            </div>
            <div class="col-md-10">
                <!-- company detail -->
                <h4 class="margin-bottom-10"><font color="black">Trump me botó de Florida</font></h4>
                <p>Lorem ipsum eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                <button type="button" class="btn btn-primary">Ver el Diario Completo</button>
                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a>
            </div>
        </div><!-- /item -->

        <hr />

        <div class="row">
            <!-- item -->
            <div class="col-md-2">
                <!-- company logo -->
                <img src="@Url.Content("~/Content/assets/images/avatar2.jpg")" class="img-responsive" alt="company logo">
            </div>
            <div class="col-md-10">
                <!-- company detail -->
                <h4 class="margin-bottom-10"><font color="black">Raspando cupo en Panamá</font></h4>
                <p>Lorem ipsum eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                <button type="button" class="btn btn-primary">Ver el Diario Completo</button>
                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a>
            </div>
        </div><!-- /item -->

    </div>
</section>
