@model FOReserva.Models.Diarios.Cvista_Diarios

<div class="heading-title">
    <h3><span>Diarios de Viaje</span></h3>
</div>
@*<div class="row text-center">
        <a href="#"><button type="button" class="btn btn-default btn-lg"><i class="fa fa-book"></i>Crear un Diario de Viaje</button></a>
    </div>*@
@using (Html.BeginForm("buscarDiarios", "gestion_diarios", null, FormMethod.Post, new { @id = "formBuscarDiarios", @class = "form-horizontal" }))
{
    <fieldset>

        <input type="hidden" name="action" value="contact_send" />

        <div class="row">
            <div class="form-group">
                <div class="col-md-12 col-sm-12">
                    <label>Prueba</label>
                    @Html.TextBoxFor(m => m._prueba, null, new { @class = "form-control required", @name = "diario[prueba]", @id= "elText" })
                </div>
            </div>
        </div>

    </fieldset>

<div class="row text-center">
    <div class="col-md-12">
        <button type="button" id="buscarDiarios" class="btn btn-primary"><i class="fa fa-search"></i>Buscar</button>
    </div>
</div>
<script>
    //Unificación del jQuery para búsqueda
    function buscar(a) {
        a.preventDefault();
        var form = $("#formBuscarDiarios");
        $.ajax({
            url: "gestion_diarios/buscarDiarios",
            data: form.serialize(),
            type: 'POST',
            success: function (data) {
                alert("Buscando...");
                /*$('#formBuscarVuelos')[0].reset();*/
            }
        });
    }

    $("#buscarDiarios").click(function (e) { buscar(e) });      //Evento de click en el botón Buscar
    $("#formBuscarDiarios").submit(function (e) { buscar(e) }); //Evento general de submit (ej. presionar ENTER)


</script>
}


<section>
    <div id="resultados" class="container">

        <div class="row">
            <!-- item -->
            <div class="col-md-1">
                <!-- company logo -->
                <img src="@Url.Content("~/Content/assets/images/noimage.jpg")" class="img-responsive img-thumbnail" alt="company logo">
            </div>
            <div class="col-md-10">
                <!-- company detail -->
                <h4 class="margin-bottom-10"><font color="black">De exploración en Tailandia</font></h4>
                <p>Lorem ipsum eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                <button type="button" class="btn btn-primary">Ver el Diario Completo</button>
                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a>
            </div>
        </div><!-- /item -->

        <hr />

        <div class="row">
            <!-- item -->
            <div class="col-md-1">
                <!-- company logo -->
                <img src="@Url.Content("~/Content/assets/images/noimage.jpg")" class="img-responsive img-thumbnail" alt="company logo">
            </div>
            <div class="col-md-10">
                <!-- company detail -->
                <h4 class="margin-bottom-10"><font color="black">Dubai y su petroleo.</font></h4>
                <p>Lorem ipsum eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                <button type="button" class="btn btn-primary">Ver el Diario Completo</button>
                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a>
            </div>
        </div><!-- /item -->

        <hr />

        <div class="row">
            <!-- item -->
            <div class="col-md-1">
                <!-- company logo -->
                <img src="@Url.Content("~/Content/assets/images/noimage.jpg")" class="img-responsive img-thumbnail" alt="company logo">
            </div>
            <div class="col-md-10">
                <!-- company detail -->
                <h4 class="margin-bottom-10"><font color="black">No hay arepas en Caracas.</font></h4>
                <p>Lorem ipsum eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                <button type="button" class="btn btn-primary">Ver el Diario Completo</button>
                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a>
            </div>
        </div><!-- /item -->

        <hr />

        <div class="row">
            <!-- item -->
            <div class="col-md-1">
                <!-- company logo -->
                <img src="@Url.Content("~/Content/assets/images/noimage.jpg")" class="img-responsive img-thumbnail" alt="company logo">
            </div>
            <div class="col-md-10">
                <!-- company detail -->
                <h4 class="margin-bottom-10"><font color="black">Trump me botó de Florida</font></h4>
                <p>Lorem ipsum eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                <button type="button" class="btn btn-primary">Ver el Diario Completo</button>
                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a>
            </div>
        </div><!-- /item -->

        <hr />

        <div class="row">
            <!-- item -->
            <div class="col-md-1">
                <!-- company logo -->
                <img src="@Url.Content("~/Content/assets/images/noimage.jpg")" class="img-responsive img-thumbnail" alt="company logo">
            </div>
            <div class="col-md-10">
                <!-- company detail -->
                <h4 class="margin-bottom-10"><font color="black">Raspando cupo en Panamá</font></h4>
                <p>Lorem ipsum eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
                <button type="button" class="btn btn-primary">Ver el Diario Completo</button>
                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i> Like</a> <a href="#" class="text-danger"><i class="fa fa-thumbs-down"></i> Dislike</a>
            </div>
        </div><!-- /item -->

    </div>
</section>
